.yas-categoryelector {
  background-color: #151c22; }
  .yas-categoryelector > .z-tree {
    margin-left: 30px; }
  .yas-categoryelector .z-treecell {
    border: none; }
  .yas-categoryelector .z-treerow .z-treecell-content {
    color: #ffffff;
    display: table;
    width: 100%; }
    .yas-categoryelector .z-treerow .z-treecell-content > .z-div,
    .yas-categoryelector .z-treerow .z-treecell-content > .z-label,
    .yas-categoryelector .z-treerow .z-treecell-content > .z-span,
    .yas-categoryelector .z-treerow .z-treecell-content > .z-tree-icon,
    .yas-categoryelector .z-treerow .z-treecell-content > .z-tree-spacer {
      display: table-cell; }
    .yas-categoryelector .z-treerow .z-treecell-content > .z-label.yas-has-configurations {
      display: block;
      min-height: 19px; }
  .yas-categoryelector .z-treerow-selected .z-treecell-content {
    color: #0486e0; }
  .yas-categoryelector .z-treerow:hover .z-treecell-content {
    color: #a6b3c4; }
  .yas-categoryelector .z-tree-icon + .z-label {
    padding-left: 10px;
    width: 100%; }
  .yas-categoryelector .z-tree-spacer + .z-label {
    width: 100%; }
  .yas-categoryelector .yas-has-own-configuration,
  .yas-categoryelector .yas-has-configurations {
    padding: 0 9px 0 5px;
    font-size: 11px;
    line-height: 18px;
    max-height: 19px;
    min-width: 24px;
    width: auto;
    position: relative;
    text-align: center; }
  .yas-categoryelector .yas-has-configurations {
    color: #0486e0;
    top: -1px; }
    .yas-categoryelector .yas-has-configurations:before {
      content: "";
      display: block;
      position: absolute;
      left: 2px;
      border-radius: 10px;
      top: 1px;
      right: 6px;
      bottom: 2px;
      border: 1px solid #0486e0; }
  .yas-categoryelector .yas-has-own-configuration:before {
    background: url("images/icon_configuration.png") center no-repeat;
    left: 2px;
    top: 2px;
    width: 16px;
    height: 16px;
    content: "";
    display: block;
    position: absolute; }
