.yw-modal-selectivesync.z-div {
  width: 100%;
  display: block;
  position: relative; }
.yw-modal-selectivesync.z-window[style*="width: 80%"] {
  left: 10% !important; }
.yw-modal-selectivesync-content, .yw-modal-selectivesync-footer {
  display: block; }
.yw-modal-selectivesync-content {
  height: 100%;
  padding-bottom: 60px; }
  @media all and (max-width: 620px) {
    .yw-modal-selectivesync-content {
      padding-bottom: 120px; } }
.yw-modal-selectivesync-footer-content {
  display: inline-table;
  width: 100%;
  height: 60px;
  overflow: hidden;
  vertical-align: middle; }
  @media all and (max-width: 620px) {
    .yw-modal-selectivesync-footer-content {
      height: 120px; } }
  .yw-modal-selectivesync-footer-content > .z-div {
    display: table-cell;
    vertical-align: middle;
    padding-bottom: 0; }
  .yw-modal-selectivesync-footer-content .yw-right-pack {
    float: right;
    text-align: right;
    padding-right: 20px;
    padding-top: 5px;
    width: 100%;
    min-width: 180px; }
  .yw-modal-selectivesync-footer-content .yw-left-pack {
    padding-left: 20px; }
    @media all and (max-width: 620px) {
      .yw-modal-selectivesync-footer-content .yw-left-pack {
        display: block;
        height: 50px;
        margin-top: 10px; } }
  .yw-modal-selectivesync-footer-content .y-pack-nowrap {
    white-space: nowrap;
    position: relative; }
  @media screen and (max-width: 620px) {
    .yw-modal-selectivesync-footer-content {
      display: block; } }
.yw-modal-selectivesync-footer {
  position: absolute;
  bottom: 0;
  width: 100%; }
.yw-modal-selectivesync .sync-attribute-config-container {
  border-top: 1px solid #e0e9f0;
  border-bottom: 1px solid #e0e9f0;
  display: block;
  height: 100%;
  width: 100%;
  overflow: auto; }
  .yw-modal-selectivesync .sync-attribute-config-container > .z-div {
    border-top: 3px solid #c4cedc; }
    .yw-modal-selectivesync .sync-attribute-config-container > .z-div:first-child {
      border-top: none; }
    .yw-modal-selectivesync .sync-attribute-config-container > .z-div:empty {
      display: none; }
  @media screen and (min-width: 1024px) {
    .yw-modal-selectivesync .sync-attribute-config-container {
      overflow: hidden;
      display: table; }
      .yw-modal-selectivesync .sync-attribute-config-container > .z-div {
        display: table-cell;
        border-left: 3px solid #c4cedc;
        border-top: none; }
        .yw-modal-selectivesync .sync-attribute-config-container > .z-div:first-child {
          border-left: none; } }
.yw-modal-selectivesync .ye-cancel-container .z-button,
.yw-modal-selectivesync .ye-save-container .z-button {
  height: 40px;
  min-height: 40px;
  margin-top: 5px;
  margin-right: 5px; }
.yw-modal-selectivesync .yw-right-pack .ye-cancel-container .z-button,
.yw-modal-selectivesync .yw-right-pack .ye-save-container .z-button {
  margin-left: 5px;
  margin-right: 0; }
.yw-modal-selectivesync .yw-right-pack .ye-cancel-container:first-child {
  background-color: rgba(255, 255, 255, 0.8);
  margin-left: 0; }

.ye-selsync-attribute-config-tree {
  overflow-y: auto;
  padding-left: 20px; }
  @media screen and (min-width: 1024px) {
    .ye-selsync-attribute-config-tree {
      height: calc(100% - 67px);
      position: absolute; } }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-type-container,
  .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container {
    display: inline-table; }
    .ye-selsync-attribute-config-tree .ye-selsync-tree-type-container .ye-selsync-partially-selected input:checked:not([disabled]) + label:before,
    .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container .ye-selsync-partially-selected input:checked:not([disabled]) + label:before {
      background-color: #bdc6d2;
      background-image: url(images/icon_partcialincluded.png);
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;
      border-color: #bdc6d2; }
    .ye-selsync-attribute-config-tree .ye-selsync-tree-type-container .z-checkbox input:not(:checked):not([disabled]) + label:before,
    .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container .z-checkbox input:not(:checked):not([disabled]) + label:before {
      background-color: #d50c01;
      background-image: url(images/icon_notincluded.png);
      background-size: 18px;
      background-position: center;
      background-repeat: no-repeat;
      border-color: #d50c01; }
    .ye-selsync-attribute-config-tree .ye-selsync-tree-type-container .ye-selsync-partially-selected input[disabled] + label:before,
    .ye-selsync-attribute-config-tree .ye-selsync-tree-type-container .z-checkbox input[disabled] + label:before,
    .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container .ye-selsync-partially-selected input[disabled] + label:before,
    .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container .z-checkbox input[disabled] + label:before {
      background-color: #818ea2; }
    .ye-selsync-attribute-config-tree .ye-selsync-tree-type-container > div,
    .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container > div {
      display: table-cell;
      vertical-align: middle; }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-type-label {
    margin-bottom: 0;
    line-height: 14px;
    font-weight: bold;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    display: inline;
    color: black; }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-label {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 12px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
    color: black; }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-attribute-container:before {
    content: "";
    position: absolute;
    left: -23px;
    top: 50%;
    width: 23px;
    height: 23px;
    background: url(images/icon_attribute.png) center no-repeat;
    margin-top: -12px; }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-item:first-child .ye-selsync-tree-attribute-container {
    padding-left: 24px; }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-checkbox-container {
    height: 25px;
    width: 32px;
    min-width: 32px; }
  .ye-selsync-attribute-config-tree .ye-selsync-tree-label-container {
    max-width: calc(100% - 50px); }

.ye-selsync-tree-cell {
  height: 50px; }
  .ye-selsync-tree-cell:hover > .z-treecell {
    background-color: #d5eeff; }
  .ye-selsync-tree-cell .z-treecell {
    border-top: 1px solid #e0e9f0;
    position: relative; }
    .ye-selsync-tree-cell .z-treecell-content {
      width: 100%;
      display: table;
      table-layout: fixed; }
  .ye-selsync-tree-cell:first-child .z-treecell {
    border-top: none; }
  .ye-selsync-tree-cell .z-treechildren .ye-selsync-tree-cell:first-child .z-treecell {
    border-top-width: 0; }
  .ye-selsync-tree-cell .z-checkbox {
    padding: 0; }
  .ye-selsync-tree-cell .z-tree-spacer {
    width: 24px; }
  .ye-selsync-tree-cell .ye-selsync-tree-item {
    padding: 2px 15px 2px 2px;
    position: relative; }
  .ye-selsync-tree-cell .z-tree-icon {
    line-height: 14px;
    position: static;
    min-height: unset; }

@media screen and (min-width: 1024px) {
  .ye-selsync-attribute-config-tree-view {
    margin-bottom: 0;
    position: relative;
    width: 70%; }
    .ye-selsync-attribute-config-tree-view, .ye-selsync-attribute-config-tree-view > .z-div {
      height: 100%;
      overflow: hidden; } }

.sync-attribute-config-details {
  padding: 15px 0 30px 20px; }
  .sync-attribute-config-details > .z-label {
    font-weight: bold;
    color: #000000;
    margin-bottom: 40px;
    display: inline-block; }
  .sync-attribute-config-details-item span.ye-switch-checkbox.z-checkbox {
    min-height: 28px;
    line-height: 28px; }

.ye-selsync-attribute-config-filter {
  padding: 0 20px;
  margin: 15px 0 12px; }
  .ye-selsync-attribute-config-filter-popup {
    width: 260px;
    margin-top: 7px;
    margin-left: -15px;
    padding: 0; }
  .ye-selsync-attribute-config-filter-popup-item {
    border-top: 1px solid #e0e9f0;
    padding: 10px 10px 11px; }
    .ye-selsync-attribute-config-filter-popup-item:first-child {
      border-top-width: 0; }
    .ye-selsync-attribute-config-filter-popup-item > span,
    .ye-selsync-attribute-config-filter-popup-item > div {
      margin: 0 5px; }
    .ye-selsync-attribute-config-filter-popup-item .ye-switch-checkbox.z-checkbox {
      min-height: 28px;
      line-height: 28px; }
  .ye-selsync-attribute-config-filter-search {
    width: calc(100% - 50px);
    margin-right: 10px; }
  .ye-selsync-attribute-config-filter-button {
    width: 40px;
    height: 40px;
    background-color: #ffffff;
    border: 1px solid #acacac;
    background-image: url(images/icon_filter.svg);
    background-size: 18px;
    background-position: center;
    background-repeat: no-repeat;
    text-indent: -9999px;
    white-space: nowrap; }
    .ye-selsync-attribute-config-filter-button:hover, .ye-selsync-attribute-config-filter-button:active, .ye-selsync-attribute-config-filter-button:focus {
      background-color: #ffffff;
      background-size: 18px;
      background-position: center;
      box-shadow: none;
      background-repeat: no-repeat; }
    .ye-selsync-attribute-config-filter-button:hover {
      border: 1px solid #acacac;
      background-image: url(images/icon_filter_hover.svg); }
    .ye-selsync-attribute-config-filter-button:active, .ye-selsync-attribute-config-filter-button:focus {
      border: 1px solid #0486e0;
      background-image: url(images/icon_filter_active.svg); }

.ye-selsync-legend-item {
  padding-right: 1.5%;
  display: block;
  float: left;
  max-width: 25%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; }
  @media all and (max-width: 620px) {
    .ye-selsync-legend-item {
      max-width: 50%;
      padding-right: 10px;
      display: inline-block;
      float: none; } }
  .ye-selsync-legend-item .z-checkbox {
    padding-left: 10px; }
    .ye-selsync-legend-item .z-checkbox input + label:before,
    .ye-selsync-legend-item .z-checkbox input[disabled] + label:before {
      background-position: center;
      background-repeat: no-repeat; }
    .ye-selsync-legend-item .z-checkbox.ye-selsync-all-selected input + label:before,
    .ye-selsync-legend-item .z-checkbox.ye-selsync-all-selected input[disabled] + label:before {
      background-color: #0486e0;
      border-color: #0486e0; }
    .ye-selsync-legend-item .z-checkbox.ye-selsync-partially-selected input + label:before,
    .ye-selsync-legend-item .z-checkbox.ye-selsync-partially-selected input[disabled] + label:before {
      background-color: #bdc6d2;
      background-image: url(images/icon_partcialincluded.png);
      background-size: 18px;
      border-color: #bdc6d2; }
    .ye-selsync-legend-item .z-checkbox.ye-selsync-none-selected input + label:before,
    .ye-selsync-legend-item .z-checkbox.ye-selsync-none-selected input[disabled] + label:before {
      background-color: #d50c01;
      background-image: url(images/icon_notincluded.png);
      background-size: 18px;
      border-color: #d50c01; }
  .ye-selsync-legend-item .ye-selsync-legend-item-label {
    margin-left: 5px;
    line-height: 24px; }
  .ye-selsync-legend-item .ye-selsync-tree-attribute-icon {
    width: 23px;
    height: 23px;
    background: url(images/icon_attribute.png) center no-repeat;
    position: relative;
    float: left;
    display: inline-block; }
  .ye-selsync-legend-item .ye-selsync-tree-attribute-label {
    font-size: 12px;
    margin-bottom: 0;
    line-height: 12px;
    max-width: 100%;
    text-overflow: ellipsis;
    overflow: hidden;
    display: inline;
    color: black; }
