@perso-toggle__label--padding-right: 0.5*@perso-gutter;  //10px

.perso-toggle {
    width: 55%;
    display: flex;
    justify-content: flex-end;
}

.perso-toggle__label {
    align-self: center;
    margin-bottom: 0;
    padding-right: @perso-toggle__label--padding-right;
}

.perso-toggle__checkbox-label {
    //reset the initial height, fix the IE allignment issue; remove when fixed in techme
    height: inherit;
}