/* *
/* This file includes the customized styles for the spinner
*/

//spinner specific, outer frame
.pe-spinner--outer .ySEPanelSpinner {
    display: block;
    text-align: center;
}

.pe-spinner--outer .ySESpinner {
    margin-top: 0;
    margin-bottom: 0;
}

.pe-spinner--outer .panel {
    margin-bottom: 0;
}

//spinner specific, inner frame, overwriting what's inside #smarteditoverlay
.pe-spinner--inner .ySEPanelSpinner {
    display: block !important;
    text-align: center;
}

.pe-spinner--inner .ySESpinner {
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

.pe-spinner--inner .panel {
    margin-bottom: 0 !important;
}