/* *
/* In this file we can includes common styles used in forms (e.g. input-group)
*/
@perso-input-group--height: 42px;
@perso-input-group__addon--padding: 0.25*@perso-gutter 0.5*@perso-gutter;
@perso-input-group__input--color: #555555;
@perso-input-group__input--font-size: 14px;
@perso-input-group__input--padding: 11px 0;
/********************************************************
                    Input Group Field
*********************************************************/
.perso-input-group {
    width: 100%;
    height: @perso-input-group--height;
    display: flex;
    position: relative;
    align-items: center;
  }

.perso-input-group__addon {
    display: flex;
    align-items: center;
    height: 100%;
    margin-bottom: 0;
    font-size: 1rem;
    line-height: 1.25;
    text-align: center;
    padding: @perso-input-group__addon--padding;
    background-color: @background-color-white;
}

.perso-input-group__input {
    flex-grow: 1;
    width: 100%;
    border: none;
    display: block;
    color: @perso-input-group__input--color;
    font-size: @perso-input-group__input--font-size;
    height: 100%;
    padding: @perso-input-group__input--padding;
    line-height: 1.42857143;
    background-color: @background-color-white;
    &:focus {
        outline: none;
    }
    &::-ms-clear {
        display: none;
    }
}