.se-nowrap-ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.se-wrap-ellipsis {
	text-overflow: ellipsis;
	overflow: hidden;
}

.se-flex-space-between {
	display: flex;
    justify-content: space-between;
}

.se-flex-space-between-center {
	display: flex;
    justify-content: space-between;
    align-items: center;
}
	
.se-flex-column {
	display: flex;
    flex-direction: column;
}

.se-flex-vertical-align{
	display: flex;
    align-items: center;
}