@import "outer/google-fonts";

@import (inline) "node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.min.css";
@import "node_modules/bootstrap/less/bootstrap";
@import (less) "node_modules/angular-ui-tree/dist/angular-ui-tree.min.css";

@icon-font-path:          "node_modules/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@bootstrap-path:          "node_modules/bootstrap";

@import "node_modules/techne/src/less/globals/_variables";

@icon-font-path:          "node_modules/bootstrap/dist/fonts/";
@icon-font-name:          "glyphicons-halflings-regular";
@icon-font-svg-id:        "glyphicons_halflingsregular";
@bootstrap-path:          "node_modules/bootstrap";

@import "node_modules/techne/src/less/globals/_utils";
@import "node_modules/techne/src/less/overwrites/__overwrites";

@import "node_modules/techne/src/less/overwrites/_alert.less";

@import "node_modules/techne/src/less/overwrites/_buttons";
@import "node_modules/techne/src/less/components/_forms-toggle";

@import "node_modules/techne/src/less/overwrites/_dropdowns";

@import "node_modules/techne/src/less/overwrites/_forms";
@import "node_modules/techne/src/less/components/_forms-hint-text";
@import "node_modules/techne/src/less/components/_forms-checkboxes";
@import "node_modules/techne/src/less/components/_forms-radiobuttons";
@import "node_modules/techne/src/less/components/_forms-readonly";
@import "node_modules/techne/src/less/components/_forms-help";
@import "node_modules/techne/src/less/components/_forms-validationandhelp";
@import "node_modules/techne/src/less/components/_spinner";
@import "node_modules/techne/src/less/techne-patterns/_dialogues-modals";
@import "node_modules/techne/src/less/techne-patterns/_action-bar";
@import "node_modules/techne/src/less/techne-patterns/_multi-tab-editor";
@import "node_modules/techne/src/less/overwrites/_navs";
@import "node_modules/techne/src/less/overwrites/_pagination.less";
@import "node_modules/techne/src/less/overwrites/_tabs";

@import "node_modules/techne/src/less/globals/_shame";
@import "node_modules/techne/src/less/vendor/_select2";

@import "node_modules/techne/src/less/overwrites/_tooltip";

@import "variables";
@import "helpers";

@import "outer/components";
@import "shared/components";
