@import "cockpitng-globals.scss";

$bulkedit__attribute-row-inner--spacing: $container-spacing-default__third;
$bulkedit__attribute-name--padding-right: $bulkedit__attribute-row-inner--spacing;
$bulkedit__attribute-name--min-width: 130px;
$bulkedit__attribute-name--padding-top: $container-spacing-default__third;
$bulkedit__attribute-clear--width: 120px;
$bulkedit__attribute-clear--padding-left: $bulkedit__attribute-row-inner--spacing;

$_bulkedit__attribute-cnt--margin: 0 -20px;
$_bulkedit__attribute-cnt--padding: 0 20px;

$_bulkedit__validate-all-attributes--padding: 10px 20px;
$_bulkedit__validate-all-attributes--margin: 0 -20px;
$_bulkedit__validate-all-attributes--border-top: $boxes--border__thin solid $grey__default;


$bulkedit__attribute-icon-panel--spacing: 24px;
$bulkedit__attribute-row--padding-top: $bulkedit__attribute-icon-panel--spacing;
$bulkedit__attribute-icon-panel--margin-top: -20px;

$bulkedit__attribute-clear-switch-checked--bg-color: $validation__error--color;
$bulkedit__attribute-clear-switch-checked--border-color: $bulkedit__attribute-clear-switch-checked--bg-color;
$bulkedit__attribute-value-container--padding-bottom: $container-spacing-default__third;

$_bulkedit__bp-m--min-height: 720px;
$_bulkedit__content--min-height: 250px; 
$_bulkedit__content--max-height: 420px;
$_bulkedit__content-bp-m--outer-space: 300px;
$_bulkedit__content-bp-m--max-height: calc(100vh - #{$_bulkedit__content-bp-m--outer-space}); //same as on configurableFlow
$_bulkedit__validate-all-attributes-bp-m--min-height: 60px;

$_bulkedit__content-attributes-bp-m--max-height: calc(100vh - #{$_bulkedit__content-bp-m--outer-space + $_bulkedit__validate-all-attributes-bp-m--min-height});
$_bulkedit__content-attributes--min-height: $_bulkedit__content--min-height - $_bulkedit__validate-all-attributes-bp-m--min-height;
$_bulkedit__content-attributes--max-height: $_bulkedit__content--max-height - $_bulkedit__validate-all-attributes-bp-m--min-height;