@import '/home/wellington/projetos/warmup/challenge/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/wellington/projetos/warmup/challenge/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';



.ye-decorated-editor.z-div::after {
	content: ' ';
	display: block;
	clear: both;
}