/* Icons for explorer tree */

div.yw-explorerTree .y-tree-icon-hmc_typenode_coupons .y-tree-icon {
    background-image: url("images/088_coupons.png");
}

div.yw-explorerTree .y-tree-icon-hmc_typenode_coupon_code_generation_config .y-tree-icon {
    background-image: url("images/0133_coupon-code-generation-configuration.png");
}

div.yw-explorerTree .y-tree-icon-hmc_type_tree_coupon_redemption .y-tree-icon {
    background-image: url("images/0134_coupon-redemption.png");
}
