.slot {
    border: solid 1px black;
    padding: 5px;
    margin: 5px;
    min-height: 50px;
}

.component {
    border: solid 1px cornflowerblue;
    padding: 5px;
    margin: 5px;
    min-height: 50px;
}

.large {
    width: 50%;
    height: 300px
}

.componentOffset {
    top: 50px;
    left: 50px;
    position: relative;
}

.clickthroughflash {
    background-color: #ffa7a9;
}

.redBackground{
    background-color: red
}


.greenBackground{
    background-color: lightgreen
}

