/****************************************************
				slider-panel
****************************************************/
.ySEPageRestr-search__input::-ms-clear,
.ySECompSearchField::-ms-clear,
.ySEPage-list-search-input::-ms-clear {
    display: none;
    width: 0;
    height: 0;
}

a.nav-close:hover,
a.nav-close:active {
    text-decoration: none;
}

.modal-wizard-template-step__action__disabled,
.modal-wizard-template-step__action__disabled:hover,
.modal-wizard-template-step__action__disabled:active {
    background-color: @smartedit-white;
}

/****************************************************
				carousel-component
****************************************************/
.se-item-selector-panel__content__item {
    margin-bottom: 0.5 * @smartedit-gutter;
}

.se-catalog-aware-selector__content__btn-wrapper {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.se-catalog-aware-selector__content__btn {
    font-family: @font-open-sans;
}

.se-catalog-aware-selector__content .se-catalog-aware-selector__list .desktopLayout {
    padding: 0;
}

.se-catalog-aware-selector__list .ySETreeNodeDesktop {
    background-color: @smartedit-white;
}

.se-product-row__product {
    font-family: @font-open-sans;
    font-size: 15px;
    color: @techne-typo-default;
    font-weight: @font-weight--semibold;
}

.se-product-row__catalog {
    font-family: @font-open-sans;
    font-size: 15px;
    color: @techne-typo-default;
    font-weight: @font-weight--normal;
}

.se-product-row {
    min-height: 45px;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    line-height: 3;

    div {
        min-height: 45px;
        .se-default-product-img {
            position: absolute;
            top: 0;
            left: 0;
            right: 0;
            bottom: 0;
            padding-left: 2px;
            background: url('../../../images/product_thumbnail_default.png');
            background-position: center;
            background-size: contain;
            background-repeat: no-repeat;
        }
    }
}

.se-catalog-aware-selector__list .ySENavigationTree-body__nodes__item .ySETreeNodeDesktop,
.se-catalog-aware-selector__list .ySENavigationTree-body__nodes__item .ySETreeNodeDesktop__ol {
    display: flex;
    align-items: center;
}

/****************************************************
				multi-product-selector
****************************************************/
@se-products-catalog-select-multiple__icon--font-size: 18px;
@se-products-catalog-select-multiple__icon--width: 32px;
@se-products-catalog-select-multiple__icon--margin-top: 5px;
@se-products-catalog-select-multiple__catalogs--width: calc(~'100% - 35px');
@se-product-catalogs-tooltip--margin: 0.4 * @smartedit-gutter;
@se-product-catalogs-tooltip__h--margin-bottom: 0.2 * @smartedit-gutter;

.se-multi-product-catalog-version-selector__catalog-name {
    font-weight: @font-weight--bold;
}

.se-products-catalog-select-multiple {
    display: flex;
    justify-content: space-between;
    background-color: @smartedit-grey36;
    color: @smartedit-lightblue;
    cursor: pointer;
}

.se-products-catalog-select-multiple__catalogs,
.se-products-catalog-select-multiple__icon {
    display: inline-block;
    background-color: @smartedit-grey36;
}

.se-products-catalog-select-multiple__icon {
    width: @se-products-catalog-select-multiple__icon--width;
    font-size: @se-products-catalog-select-multiple__icon--font-size;
    margin-top: @se-products-catalog-select-multiple__icon--margin-top;
}

.se-products-catalog-select-multiple__catalogs {
    width: @se-products-catalog-select-multiple__catalogs--width;
}

.se-products-catalog-select-multiple__catalogs,
.se-products-catalog-select-multiple__catalogs:hover,
.se-products-catalog-select-multiple__catalogs:focus {
    border-right: none;
    border: none;
    box-shadow: none;
}

.se-product-catalogs-tooltip {
    margin: @se-product-catalogs-tooltip--margin;
}

.se-product-catalogs-tooltip__h {
    font-weight: @font-weight--bold;
    .se-nowrap-ellipsis();
    margin-bottom: @se-product-catalogs-tooltip__h--margin-bottom;
}
