.existing-homepage__ymessage .y-message-info{
    padding: .2*@se-toolbar-menu-content__y-message--gutter 2*@se-toolbar-menu-content__y-message--gutter;
	margin-top: -@se-toolbar-menu-content__y-message--gutter;
	margin-bottom: 1.5*@se-toolbar-menu-content__y-message--gutter;
}