#experience-selector-btn:focus,
#experience-selector-btn:active {
	outline: none;
	outline-offset: 0;
	box-shadow: none;
}

experience-selector {
	@grid-selector-columns: 6;

	label {
		color: @smartedit-white;
		font-weight: normal;
	}

	.ySEGenericEditor {
		padding: 0;
		form {
			padding-bottom: 0;
			padding-left: 0;
			.modal-header {
				background-color: inherit;
				padding: 15px 50px;
			}
		}
	}

	.ySEGenericEditorTabs{
		display: block;
		margin: 30px 50px 0px 50px;
	}

	.ySErow {
		.make-sm-column(@grid-selector-columns);
		height: 100px;
		margin-left: 0;
		margin-right: 0;

		&:nth-of-type(even) {
			padding-left: 25px;
			padding-right: 0;
		}
		&:nth-of-type(odd) {
			padding-left: 0;
			padding-right: 25px;
		}
		@media (max-width: @screenSmMin){
			&:nth-of-type(even) {
				padding-left: 0;
				padding-right: 0;

			}
			&:nth-of-type(odd) {
				padding-left: 0;
				padding-right: 0;
			}
		}
	}

	.ySEBtnRow {
		background: inherit;
		.make-sm-column(12);
	}
}

experience-selector-button .dropdown-menu.yDdResolution {
	margin-top: 0;
	border-top: none;
	padding-bottom: 0;
	border-bottom: 0;
	border-right: 0;
}

experience-selector-button > div.open {
	background-color: @smartedit-lightblue;
	color: @smartedit-white;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	padding-left: 0;

	#experience-selector-btn span {
		color: @smartedit-white;
	}
}

experience-selector-button > div {
	text-align: left;
	display: inline-block;
}

experience-selector-button experience-selector .modal-header h4.modal-title {
	font-family: @font-open-sans;
	font-size: 23px;
	font-weight: bold;
}

experience-selector-button experience-selector .ySErow label {
	font-family: @font-open-sans;
	font-size: 13px;
	font-weight: normal;
	text-transform: uppercase;
}

.ySEpreview {
	width: 100%;
	max-width: 710px;
}

.ySEpreview.open,
.ySEpreview.open .yWebsiteSelectBtn {
	background-color: @smartedit-lightblue;
}

.ySEpreview.open .yWebsiteSelectBtn--arrow {
	color: @smartedit-white;
	opacity: 1;
}
