.inflectionPtDropdown {
	height: 100%;
	margin-right: -2px;
	border-left: @smartedit-border11;
}

.inflectionPtDropdown.open .yDddlbResolution.dropdown-toggle.btn-default{
	background-color: @smartedit-lightblue;
	img{
		height:100%;
	}
	&:hover,
	&:active,
	&:visited,
	&:hover:active{
		background-color: @smartedit-lightblue;
		img{
			height:100%;
		}
	}
} 

.yDddlbResolution {
	box-shadow: none;
	background-color: @smartedit-white;
	width: 100px;
	height: 100%;
	img{
		height:100%;
	}
	padding:0;
	&.yDddlbResolution--hover,
	&.yDddlbResolution--active{
		box-shadow: none;
		background-color: @smartedit-blue;
		img {
			opacity: 0.8;
		}
		border: none;
	}
	&:active:hover{
		box-shadow: none;
		background-color: @smartedit-blue;
		img {
			opacity: 0.8;
		}
		border: none;
	}
	&:focus{
		background-color: @smartedit-white;
		&.yDddlbResolution--hover{
			box-shadow: none;
			background-color: @smartedit-blue;
			img {
				opacity: 0.8;
			}
			border: none;
		}
	}

}

.yDdResolution {
	width: auto;
	position: relative;
	top: 0;
	float: none;
	margin: 0;
	border: 0;
	padding-top: 0;
	padding-bottom: 0;
}

.yDdResolution li > a.inflection-point-dropdown--option:hover,
.yDdResolution li > a.inflection-point-dropdown--option:focus {
	opacity: 0.6;
	background-color: inherit;
}

.yDdResolution li > a {
	border-top: 1px solid fade(@smartedit-white, 35%);
	height: @toolbar--height-small;
	padding:0;
}

.yDdResolution li > a.inflection-point-dropdown--selected:hover,
.yDdResolution li > a.inflection-point-dropdown--selected:active {
	opacity: 1;
	background-color: inherit;
}

.yDdResolution li > a > img{
	height: 100%;
}