/****************************************************
				navigation-editor
****************************************************/
//navigation editor
.navigationEditorWrapper{
	padding: 110px @smartedit-gutter 0px @smartedit-gutter;
}

.navEditorHeaderWrapper {
	min-height: 100%;
	background-color: @smartedit-grey10;
	position: relative;
}

.ySEAdd-Nav-tree {
	margin-top: 30px;
}

.ySETreeNodeDesktop,
.yNavigationPickerRenderer {
	min-height: 65px;
}

.ySETreeNodeDesktop:not(.hovered) .yNavigationPickerRenderer {
	display: none;
}

.angular-ui-tree-handle {
	background: @smartedit-grey31;
	border: 1px solid @smartedit-grey23;
	color: @smartedit-bluegrey2;
	position: relative;

}

.angular-ui-tree-handle:hover {
	color: @smartedit-blue11;
	background: @smartedit-grey32;
	border-color: @smartedit-grey33;
}

.ySENavigationTree-body__nodes,
.ySETreeNodeDesktop__ol {
	list-style-type: none;
}

.ySENodeTemplate--moremenu {
	font-size: 25px;
}

.ySENodeTemplate {
	padding-top: 17px;
}

.yNavigationPickerRenderer__btn {
	padding-top: .4*@smartedit-gutter;
	font-size: 15px;
	font-family: @font-open-sans;
	text-transform: none;
	font-weight: @font-weight--semibold;
	float: right;
}

.ySETreeNodeDesktop__node-name {
	padding-left: 0;
}

.ySETreeNodeDesktop__node-name,
.ySETreeNodeDesktop__node-title,
.ySETreeNodeDesktop__node-entry,
.ySENodeTemplateTree {
	display: inline-block;
	padding-top: 20px;
	font-size: 15px;
	color: @smartedit-grey21;
}

.ySETreeNodeDesktop__node-title,
.ySETreeNodeDesktop__node-entry {
	font-size: 12px;
	font-weight: @font-weight--normal;
	.se-nowrap-ellipsis();
}

.ySETreeNodeDesktop__popover {
	max-width: 100%;
	display: inline-block;
	.se-nowrap-ellipsis();
}

.ySETreeNodeDesktop__node-name {
	padding-left: 0;
}

.ySETreeNodeDesktop__node-name > span {
	display: block;
	word-wrap: break-word;
}

.ySETreeNodeDesktop__node-name > h6 {
	width: 15em;
	word-wrap: break-word;
}

.ySETreeNodeDesktop__expander {
	padding-top: 22px;
	display: inline-block;
}

.nav-node-editor-entry-item__more-menu .y-dropdown-more-menu__ddlb__icon {
	font-size: 25px;
}

.nav-node-editor-entry-item__menu,
.nav-node-editor-entry-item__more-menu .y-dropdown-more-menu button {
	padding-right: 0;
}

.yNodeLevel {
	font-family: @font-open-sans;
	font-size: 12px;
	font-weight: @font-weight--semibold;
	color: @default-greyblue;
	text-transform: uppercase;
}

.yNodeName {
	font-family: @font-open-sans;
	font-size: 14px;
	font-weight: @font-weight--normal;
	color: @default-greyblue;
}

.yNodeLevel,
.yNodeName {
	display: block;
}

.ySEBreadcrumbNode,
.ySEBreadcrumbDivider,
.ySEBreadcrumbInfo {
	display: inline-block;
}

.ySEBreadcrumbNode:last-child .yNodeLevel,
.ySEBreadcrumbNode:last-child .yNodeName{
	color:@smartedit-black;
}

.ySEBreadcrumbDivider {
	margin-left: 15px;
	margin-right: 15px;
	vertical-align: top;
	margin-top: 5px;
}

.se-navigation--node {
	display: flex;
}

.se-navigation--node-breadcrumb {
	flex: 10;
}

.se-navigation--node-button {
	flex: 2;
	display: flex;
}

.se-navigation--button {
	font-size: 15px;
	font-family: @font-open-sans;
	font-weight: @font-weight--semibold;
	align-self: flex-end;
	border-bottom: 1px solid @smartedit-grey13;
	margin-bottom: 35px;
	&:hover, &:active, &:focus {
		border-bottom: 1px solid @smartedit-grey13;
	}
}

.ySEBreadcrumbInfo__last {
	border-bottom: 2px solid @default-blue;
	padding-bottom: 15px;
}

.ySEBreadcrumb {
	border-bottom: 1px solid @smartedit-grey13;
	margin-bottom: 35px;
}

se-navigation-node-selector .ySEAdd-Nav-tree {
	margin: 0;
}

.ySENavigationTree__nodata {
	font-style: italic;
}