
/****************************************************
				page-info
****************************************************/
@page-info-header-height: 123px;
@page-info-container-header-height: 67px;
@page-info-menu: 630px;
@page-info-static-info-container: 685px;
@page-info-edit-info-container: 660px;
@page-info-restrictions-list-items: 650px;
@page-restrictions-list-info: 620px;
@page-info--font-size: 16px;
@page-info-restriction__list--font-size: 14px;
@page-info-restriction-list__itemname--font-size: 15px;

.ySEPageInfoMenu__header {
	background-color: @smartedit-lightblue;
}

.ySEPageInfoMenu {
	margin: 0;
	border: none;
	padding: 0;
	width: @page-info-menu;
	overflow-x: hidden;
	cursor: initial;
}

.ySEPageInfoHeaderContainer {
	padding: .5*@smartedit-gutter @smartedit-gutter;
	color: @smartedit-white;
	height: @page-info-header-height;
}

.pageInfoPageName {
	margin-top: 10px;
	margin-bottom: 0;
}

.pageInfoPageTemplateName {
	margin: 0;
}

.ySEPageInfoEditInfoContainer {
	@grid-selector-columns: 6;
	.ySErow {
		.make-sm-column(@grid-selector-columns);
		margin-left: 0;
		margin-right: 0;

		&:nth-of-type(even) {
			padding-right: .5*@smartedit-gutter;
			padding-left: 35px;;

		}
		&:nth-of-type(odd) {
			padding-left: .5*@smartedit-gutter;
			padding-right: 35px;
		}

		.ySEField input {
			padding-left: 0;
			padding-right: 0;
			border: none;
			background-color: transparent;
			box-shadow: none;
		}

		y-tab .ySEField input {
			border: 1px solid @default-grey-700;
			padding-left: 15px;
			padding-right: 15px;
		}
	}
}

.ySEPageInfoStaticInfoContainer,
.ySEPageInfoEditInfoContainer {
	color: @smartedit-grey21;
	background-color: @smartedit-white;
}

.ySEPageInfoStaticInfoContainer {
	padding: .25*@smartedit-gutter @smartedit-gutter;
	margin: 0 -55px;
	.se-flex-space-between-center();
	border-bottom: @smartedit-border8;
	width: @page-info-static-info-container;
}

.ySEPageInfoEditInfoContainer {
	overflow-y: scroll;
	overflow-x: hidden;
	width:@page-info-edit-info-container;
}

.ySEPageInfoEditInfoContainer--title {
	text-transform: uppercase;
}

.ySEPageInfoEditInfoContent {
	padding-bottom: .25*@smartedit-gutter;
}

.ySEHeaderText {
	text-transform: uppercase;
	font-size: @page-info--font-size;
	font-family: @font-open-sans;
	padding-top: .2*@smartedit-gutter;
	margin: 0;
}

.ySEPageInfo__edit-btn {
	font-size: @page-info--font-size;
	color: @smartedit-white;
	background: transparent;
	padding-top: 20px;
	text-decoration: underline;
	margin: -10px -15px 0px 0px;
}

// For the refactoring
.ySEPageInfoMenu__headerContainer {
	padding: 20px 25px;
    color: @smartedit-white;
}
.restrictions-list__items{
	margin-left: -10px;
	width: @page-info-restrictions-list-items;
}

.restrictions-list__info{
	margin: -15px 0px 0px -10px;
	padding-bottom: 10px;
	width: @page-restrictions-list-info;
	border-bottom: @smartedit-border8;
}

.restrictions-list__item{
	padding-top: 10px;
	padding-bottom: 10px;
	border-bottom: @smartedit-border8;
}

.restrictions-list__item-name{
	font-size: @page-info-restriction-list__itemname--font-size;
	font-weight: @font-weight--bold;
}

.restrictions-list__item-type{
	font-weight: @font-weight--semibold;
	font-size: @page-info-restriction__list--font-size;
}

.restrictions-list__item-description{
	font-size: @page-info-restriction__list--font-size;
	padding-top: 5px;
	padding-bottom: 10px;
}
