@se-version-item-context__btn--font-size: 13px;
@se-version-item-context__btn--txt--max-width: 215px;
@se-version-item-context__btn--hyicon--padding-left: .5*@smartedit-gutter;
@se-version-item-context__btn--txt--padding-right: .2*@smartedit-gutter;

@se-version-panel--filter-section--padding: .3*@smartedit-gutter .5*@smartedit-gutter;

@se-version-panel--search-controls-section--padding: .3*@smartedit-gutter .5*@smartedit-gutter;
@se-version-panel--search-controls-section__search-version--width: 230px;
@se-version-panel--search-controls-section__versions-count--padding: .3*@smartedit-gutter 0;

@se-version-item--padding: .3*@smartedit-gutter .2*@smartedit-gutter .3*@smartedit-gutter .5*@smartedit-gutter;
@se-version-item--header__label--padding: 0;
@se-version-item--header__label--max-width: 215px;
@se-version-item--header__date--font-size: 14px;
@se-version-item--header__date--padding: 0;

@se-version-item--description--min-height: 15px;

@ySEInfiniteScrolling-container--max-height: 350px;

@se-version-panel--empty-version-list--padding: .6*@smartedit-gutter;

.se-version-item-context {
    font-family: @font-open-sans;
}

.se-version-item-context__btn {
    .se-flex-space-between-center();
    font-size: @se-version-item-context__btn--font-size;
}

.se-version-item-context__btn--txt {
    max-width: @se-version-item-context__btn--txt--max-width;
    padding-right: @se-version-item-context__btn--txt--padding-right;
    .se-flex-column();
    .se-nowrap-ellipsis();
}

.se-version-item-context__btn--label{
    .se-nowrap-ellipsis();
    font-weight: @font-weight--semibold;
}

.se-version-item-context__btn--hyicon-remove {
    font-size: 20px;
    padding: 0 .1*@smartedit-gutter;
    color: @smartedit-blue;
}

.se-version-toolbar-menu-content--body{
    background-color: @smartedit-white;
}

.se-version-panel--search-controls-section {
    .se-flex-space-between-center();
    padding: @se-version-panel--search-controls-section--padding;
    border-bottom: @smartedit-border2;
}

.se-version-panel--search-controls-section__search-version {
    width: @se-version-panel--search-controls-section__search-version--width;
    color: @smartedit-grey40;
    border: @smartedit-border2;
}

.se-version-panel--search-controls-section__versions-count {
    font-style: italic;
    color: @smartedit-grey40;
}

.se-version-item {
    border-bottom: @smartedit-border2;
    padding: 10px 25px;
}

.se-version-item--header {
    .se-flex-space-between-center();
}

.se-version-item--label {
    .se-nowrap-ellipsis();
    padding: @se-version-item--header__label--padding;
    color: @smartedit-blue;
    max-width: @se-version-item--header__label--max-width;
    font-weight: @font-weight--semibold;
}

.se-version-item--date {
    color: @smartedit-grey7;
    font-size: @se-version-item--header__date--font-size;
    padding: @se-version-item--header__date--padding;
}

.se-version-item--description {
    .se-wrap-ellipsis();
    min-height: @se-version-item--description--min-height;
}

.se-version-item--selected .se-version-item--label,
.se-version-item--selected .se-version-item--date,
.se-version-item--selected .se-version-item-menu__icon,
.se-version-item--selected .se-version-item__y-more-text .se-more-text__payload,
.se-version-item--selected .se-version-item__y-more-text .se-more-text__toggle {
    color: @smartedit-white;
}

.se-version-item {
    &.se-version-item--selected,
    &.se-version-item--selected:hover {
        background-color: @smartedit-blue14;
    }
    &:hover {
        background-color: @smartedit-grey37;
    }
}

.se-version-toolbar-menu-content--header__title {
    text-transform: uppercase;
    font-weight: @font-weight--normal;
    font-size: 16px;
}

//Specific styling (for versioning) for a generic element (y-more-text-payload and y-more-text-toggle)
.se-version-item__y-more-text {
    .se-flex-space-between();
    align-items: flex-end;

    .se-more-text__payload {
        max-width: 260px;
        .se-wrap-ellipsis();
        word-wrap: break-word;
    }
    .se-more-text__toggle {
        color: @smartedit-blue;
    }
}

//Specific styling (for versioning) for a generic element (ySEInfiniteScrolling-container)
.se-version-panel--infinite-scroll {
    >.ySEInfiniteScrolling-container {
        max-height: @ySEInfiniteScrolling-container--max-height;
    }
}

.se-version-panel--filter-section {
    .se-flex-space-between-center();
    padding: @se-version-panel--filter-section--padding;
    border-bottom: @smartedit-border2;
}

.se-version-panel--manage-version-btn {
    text-transform: uppercase;
    &:hover {
        color: @smartedit-blue;
        text-decoration: none;
    }
}

.se-version-panel--empty-version-list {
    padding: @se-version-panel--empty-version-list--padding;
}

/********************************************************
                VERSION ITEM MENU
*********************************************************/

.se-version-item-menu {
	background: @smartedit-white;
	border: @smartedit-border9;
    min-width: 180px;
    padding: 5px 0;
}

.se-version-item-menu .se-version-item-menu__item + :last-child {
    border-top: @smartedit-border10;
}

.se-version-item-menu__popup-anchor {
	padding: 0;
    height: 20px;
}

.se-version-item-menu__item {
	padding: 7px 15px;
    color: @smartedit-grey21;
    
	&:hover {
		background-color: @smartedit-grey37;

		.se-version-item-menu__item-link {
			color: inherit;
		}
	}
}

.se-version-item-menu__icon {
	cursor: pointer;
	font-size: 32px;
	display: block;
	line-height: 0;
	padding: 0;
	color: @smartedit-blue;
}

.versions-panel--search-input {
    border: @smartedit-border2;
}