/*================================
    Generic Charts
================================*/
.yw-generic-chart {
  box-shadow: 0 1px 2px rgba(111, 124, 145, 0.58); }
  .yw-generic-chart-container {
    width: 100%;
    height: 100%;
    display: table;
    table-layout: fixed; }
    .yw-generic-chart-container .highcharts-container {
      background-color: #ffffff; }
      .yw-generic-chart-container .highcharts-container .highcharts-title {
        font-family: "Open Sans", sans-serif; }
  .yw-generic-chart-infoContainer {
    width: 100%;
    min-height: 85px;
    display: table;
    padding: 10px;
    text-align: center;
    background-color: rgba(127, 144, 165, 0.2); }
    .yw-generic-chart-infoContainer-wrapper {
      display: table-row; }
  .yw-generic-chart-info-wrapper {
    display: table-cell; }
  .yw-generic-chart-info-value {
    display: block;
    font-size: 34px;
    font-weight: bold;
    color: #151c22; }
  .yw-generic-chart-info-label {
    font-size: 13px;
    color: #151c22; }
