.oms-widget-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e9ed; }

.oms-widget-cancelreturnpopup-configuration-footer,
.oms-widget-footer {
  height: 70px; }

.oms-widget-cancelreturnpopup-configuration--separator {
  height: 20px; }

.oms-widget-cancelreturnpopup-header {
  height: 110px; }

.oms-widget-cancelreturnpopup-header,
.oms-widget-cancelreturnpopup-reason-header,
.oms-widget-cancelreturnpopup-reason-body {
  padding: 20px; }

.oms-widget-cancelreturnpopup-header,
.oms-widget-cancelreturnpopup-reason-body {
  border-top: 1px solid #e5e9ed; }

.oms-widget-cancelreturnpopup-header {
  border-bottom: 1px solid #e5e9ed; }

.oms-widget-cancelreturnpopup--vertical-separator {
  height: 20px; }

.oms-widget-cancelreturnpopup-reason-body {
  height: calc(100% - 190px); }

.oms-widget-cancelreturnpopup-reason-body--comment,
.oms-widget-cancelreturnpopup-reason-body__hbox {
  height: 70px; }

.oms-widget-cancelreturnpopup-body__rma--label,
.oms-widget-cancelreturnpopup-body__rma--textbox {
  width: 150px; }

.oms-widget-cancelreturnpopup-body__customer--label,
.oms-widget-cancelreturnpopup-body__customer--textbox {
  width: 620px; }

.oms-widget-cancelreturnpopup-body__customer {
  padding-left: 20px; }

.oms-widget-cancelreturnpopup-reason-header__label--reason,
.oms-widget-cancelreturnpopup-reason-body--combo {
  width: 300px; }

.oms-widget-cancelreturnpopup-reason-header__label--comment,
.oms-widget-cancelreturnpopup-reason-body--comment {
  width: 465px; }

.oms-widget-cancelreturnpopup-reason-body--comment,
.oms-widget-cancelreturnpopup-reason-header__label--comment {
  margin-left: 20px; }

.oms-widget-cancelreturnpopup-reason-header__label--reason {
  display: inline-block; }
