.ya-de_hybris_platform_commerceservices_backoffice_orgunits_actions_enableorgunitaction:hover {
  background: #ffffff;
  color: #32a0ec;
  transition: background-color 0.3s ease 0s; }
.ya-de_hybris_platform_commerceservices_backoffice_orgunits_actions_enableorgunitaction .z-hbox-separator {
  display: none; }
.ya-de_hybris_platform_commerceservices_backoffice_orgunits_actions_enableorgunitaction .cng-action-text {
  padding-right: 5px;
  padding-top: 2px; }
.ya-de_hybris_platform_commerceservices_backoffice_orgunits_actions_enableorgunitaction.cng-action-disabled:hover {
  color: inherit;
  background: none; }
