/* Edit-Popup */
.yas-facet-values-panel .yas-actions.z-listcell {
  text-align: right; }
  .yas-facet-values-panel .yas-actions.z-listcell .yas-actions-button.z-button {
    background: transparent;
    color: #0486e0;
    font-size: 21px; }
    .yas-facet-values-panel .yas-actions.z-listcell .yas-actions-button.z-button, .yas-facet-values-panel .yas-actions.z-listcell .yas-actions-button.z-button:focus, .yas-facet-values-panel .yas-actions.z-listcell .yas-actions-button.z-button:hover, .yas-facet-values-panel .yas-actions.z-listcell .yas-actions-button.z-button:active {
      box-shadow: none; }
  .yas-facet-values-panel .yas-actions.z-listcell .z-listcell-content {
    padding-top: 0;
    padding-bottom: 0; }
.yas-facet-values-panel .yas-facet-value.z-listitem .yas-facet-value-count,
.yas-facet-values-panel .yas-facet-value.z-listitem .yas-facet-value-name,
.yas-facet-values-panel .yas-facet-value.z-listitem .z-label,
.yas-facet-values-panel .yas-sticky.z-listitem .yas-facet-value-count,
.yas-facet-values-panel .yas-sticky.z-listitem .yas-facet-value-name,
.yas-facet-values-panel .yas-sticky.z-listitem .z-label {
  margin-bottom: 0; }
.yas-facet-values-panel .yas-facet-value.z-listitem .z-listcell-content,
.yas-facet-values-panel .yas-sticky.z-listitem .z-listcell-content {
  padding-left: 10px; }
.yas-facet-values-panel .yas-facet-value.z-listitem .yas-facet-value-name,
.yas-facet-values-panel .yas-sticky.z-listitem .yas-facet-value-name {
  margin-right: 0.25em; }
.yas-facet-values-panel .yas-sticky.z-listitem, .yas-facet-values-panel .yas-sticky.z-listitem:hover, .yas-facet-values-panel .yas-sticky.z-listitem:focus, .yas-facet-values-panel .yas-sticky.z-listitem:active, .yas-facet-values-panel .yas-sticky.z-listitem-selected, .yas-facet-values-panel .yas-sticky.z-listitem-selected:hover, .yas-facet-values-panel .yas-sticky.z-listitem-selected:focus, .yas-facet-values-panel .yas-sticky.z-listitem-selected:active, .yas-facet-values-panel .yas-sticky.z-listitem-selected.z-listitem, .yas-facet-values-panel .yas-sticky.z-listitem-selected.z-listitem:hover, .yas-facet-values-panel .yas-sticky.z-listitem-selected.z-listitem:focus, .yas-facet-values-panel .yas-sticky.z-listitem-selected.z-listitem:active,
.yas-facet-values-panel tr.yas-sticky.z-listitem,
.yas-facet-values-panel tr.yas-sticky.z-listitem:hover,
.yas-facet-values-panel tr.yas-sticky.z-listitem:focus,
.yas-facet-values-panel tr.yas-sticky.z-listitem:active,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected:hover,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected:focus,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected:active,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected.z-listitem,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected.z-listitem:hover,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected.z-listitem:focus,
.yas-facet-values-panel tr.yas-sticky.z-listitem-selected.z-listitem:active {
  background-color: transparent;
  border-top-color: transparent; }
.yas-facet-values-panel .yas-sticky.z-listitem,
.yas-facet-values-panel .yas-sticky.z-listitem .z-listcell-content {
  cursor: not-allowed; }
.yas-facet-values-panel .yas-sticky.z-listitem .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem:hover .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem:focus .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem:active .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem-selected .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem-selected:hover .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem-selected:focus .z-listcell, .yas-facet-values-panel .yas-sticky.z-listitem-selected:active .z-listcell {
  background-color: rgba(246, 248, 250, 0.8);
  border-color: #f2f2f2; }
.yas-facet-values-panel .yas-sticky.z-listitem .yas-facet-value-count,
.yas-facet-values-panel .yas-sticky.z-listitem .yas-facet-value-name,
.yas-facet-values-panel .yas-sticky.z-listitem .z-label, .yas-facet-values-panel .yas-sticky.z-listitem-selected .yas-facet-value-count,
.yas-facet-values-panel .yas-sticky.z-listitem-selected .yas-facet-value-name,
.yas-facet-values-panel .yas-sticky.z-listitem-selected .z-label {
  color: #787878; }

/* Popups */
.yas-actions-popup.z-menupopup {
  color: #000000;
  border: 1px solid #acacac;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1); }
  .yas-actions-popup.z-menupopup .yas-action {
    background: #ffffff; }
    .yas-actions-popup.z-menupopup .yas-action a.z-menuitem-content {
      color: #000000; }
      .yas-actions-popup.z-menupopup .yas-action a.z-menuitem-content:hover {
        background: #f6f8fa; }
      .yas-actions-popup.z-menupopup .yas-action a.z-menuitem-content img {
        top: -4px;
        display: none; }

.yas-search-configuration-description {
  color: #000000;
  border: 1px solid #acacac;
  box-shadow: -2px 2px 2px rgba(0, 0, 0, 0.1);
  padding: 7px 7px; }

/* Colors for left widgets */
.yas-left-container .yw-collapsibleContainer-caption {
  background: #1e2830; }
  .yas-left-container .yw-collapsibleContainer-caption > div:first-child {
    background: none; }
  .yas-left-container .yw-collapsibleContainer-caption .yw-caption-container span.z-label {
    color: #ffffff; }

/* Icons for explorer tree */
div.yw-explorerTree .y-tree-icon-hmc_type_tree_searchprofile .y-tree-icon {
  background-image: url("images/0130_Search-profiles.png"); }
div.yw-explorerTree .y-tree-icon-hmc_type_tree_searchprofileactivationset .y-tree-icon {
  background-image: url("images/0131_Search-profiles-activation.png"); }

.yas-item .yas-info .yas-info-icon {
  background-image: url("images/icon_func_star_sprite.png");
  position: relative; }

/* Score */
.yas-info-score,
.yas-search-configuration-label {
  border-radius: 0.45em;
  border: 2px solid #d2dae4;
  font-weight: bold;
  padding: 1px 5px; }
