.oms-widget-footer {
  padding: 20px;
  text-align: right;
  border-top: 1px solid #e5e9ed; }

.oms-widget-stockleveladjustment-configuration-footer,
.oms-widget-footer {
  height: 80px; }

.oms-widget-stockadjustment-configuration--separator {
  height: 20px; }

.oms-widget-stockleveladjustment-header {
  height: 60px; }

.oms-widget-stockadjustment-list-container-h {
  border-top: 1px solid #e5e9ed;
  height: calc(100% - 180px);
  overflow: scroll;
  padding-bottom: 60px; }

.oms-widget-stockadjustment-header,
.oms-widget-stockadjustment-list-container-h {
  padding-left: 20px;
  padding-right: 20px; }

.oms-widget-stockadjustment-configuration {
  border-top: 1px solid #e5e9ed; }

.oms-widget-stockadjustment-list-container .z-grid-header {
  background: transparent; }

.y-add-btn,
.y-add-btn:hover,
.y-add-btn:active,
.y-add-btn:focus {
  border: none;
  color: #0486e0;
  width: 100%;
  margin-bottom: 15px;
  padding: 20px;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  display: block;
  background: transparent; }
