.ye-com_hybris_cockpitng_editor_couponcodelisteditor .z-listcell {
  position: relative; }
.ye-com_hybris_cockpitng_editor_couponcodelisteditor div.ye-default-reference-editor-selected-listbox {
  margin-bottom: 10px; }
  .ye-com_hybris_cockpitng_editor_couponcodelisteditor div.ye-default-reference-editor-selected-listbox span.z-label {
    margin-right: 70px; }
.ye-default-editor-readonly .ye-com_hybris_cockpitng_editor_couponcodelisteditor div.ye-default-reference-editor-selected-listbox span.z-label {
  margin-right: 30px; }

.ye-default-download-coupon-codes {
  position: absolute;
  top: 0;
  padding: 2px;
  right: 30px;
  background: url("imgs/CPN_22x22.png") no-repeat center;
  width: 38px;
  height: 38px; }
  .ye-default-download-coupon-codes:hover {
    background: url("imgs/CPN_22x22_hover.png") no-repeat center;
    cursor: pointer; }
  .ye-default-download-coupon-codes a {
    width: 38px;
    height: 38px;
    display: block; }
  .ye-default-download-coupon-codes img {
    max-width: initial !important;
    max-height: initial !important; }
  .ye-default-editor-readonly .ye-default-download-coupon-codes {
    right: 0; }

div.ye-default-reference-editor-selected-item-container.ye-default-download-coupon-codes {
  padding-right: 30px; }

.ye-multicode-coupon-generator {
  margin-top: 10px; }
  .ye-multicode-coupon-generator .ye-coupon-inset-textbox {
    padding-right: 0;
    float: left;
    width: calc(100% - 116px); }
  .ye-multicode-coupon-generator .ye-coupon-inset-button {
    margin-left: 10px;
    width: 106px; }
