#table {
	display: table;
	padding: 3px;
}

.tr {
	display: table-row;
	padding: 1px;
}

.td {
	display: table-cell;
	padding: 5px;
	white-space:nowrap;
}

.responsive-table-cell {
	white-space:nowrap;
}