.yw-solrfacetchart {
  position: relative;
  display: flex;
  flex-wrap: wrap; }
  .yw-solrfacetchart-toppanel {
    padding: 20px 20px 14px;
    height: 60px;
    position: absolute;
    overflow: hidden;
    width: 100%;
    z-index: 1;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 100%;
    -moz-box-flex: 1;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    -moz-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between; }
    .yw-solrfacetchart-toppanel .yw-solrfacetchart-chart-title {
      font-size: 18px;
      top: 1px;
      position: relative;
      -webkit-box-flex: 1;
      -webkit-flex: 1 1 auto;
      -moz-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; }
    .yw-solrfacetchart-toppanel-facetchooser {
      padding-left: 5px; }
      .yw-solrfacetchart-toppanel-facetchooser .z-label {
        display: none; }
      .yw-solrfacetchart-toppanel-facetchooser .z-combobox {
        min-height: 28px;
        height: 28px;
        border-right: none; }
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input,
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input,
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input,
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button {
          border-color: #c4cedc; }
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input:hover, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input:focus, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input:active, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input:hover .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input:focus .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-input:active .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button:hover,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button:focus,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button:active,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button:hover .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button:focus .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:hover .z-combobox-button:active .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input:hover, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input:focus, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input:active, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input:hover .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input:focus .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-input:active .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button:hover,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button:focus,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button:active,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button:hover .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button:focus .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:active .z-combobox-button:active .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input:hover, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input:focus, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input:active, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input:hover .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input:focus .z-combobox-icon, .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-input:active .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button:hover,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button:focus,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button:active,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button:hover .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button:focus .z-combobox-icon,
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox:focus .z-combobox-button:active .z-combobox-icon {
            color: #0486e0; }
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox-input, .yw-solrfacetchart-toppanel-facetchooser .z-combobox-button {
          height: 28px;
          border: 1px solid transparent; }
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox-input:focus, .yw-solrfacetchart-toppanel-facetchooser .z-combobox-input:focus + .z-combobox-button, .yw-solrfacetchart-toppanel-facetchooser .z-combobox-button:focus, .yw-solrfacetchart-toppanel-facetchooser .z-combobox-button:focus + .z-combobox-button {
            border-color: #c4cedc !important;
            outline: none; }
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox-input {
          width: 250px; }
        .yw-solrfacetchart-toppanel-facetchooser .z-combobox-button {
          width: 28px; }
          .yw-solrfacetchart-toppanel-facetchooser .z-combobox-button .z-combobox-icon {
            width: 26px;
            height: 26px;
            line-height: 26px; }
    .yw-solrfacetchart-toppanel-filter-button.z-button {
      padding: 7px 12px;
      width: 28px;
      height: 28px;
      min-height: 28px;
      background: transparent url("img/icon-full-text-search-fieldquery.png") no-repeat 5px -22px;
      border: 1px solid transparent;
      display: block;
      position: static;
      font-size: 0; }
      .yw-solrfacetchart-toppanel-filter-button.z-button:hover, .yw-solrfacetchart-toppanel-filter-button.z-button:focus, .yw-solrfacetchart-toppanel-filter-button.z-button:active, .yw-solrfacetchart-toppanel-filters-container span[style*="display: none"] + .yw-solrfacetchart-toppanel-filter-button.z-button {
        background-position: 5px -50px;
        background-color: #ffffff;
        border-color: #c4cedc; }
    .yw-solrfacetchart-toppanel-filters-container {
      padding-left: 5px;
      display: block;
      position: relative;
      -webkit-box-flex: 0;
      -webkit-flex: 0 0 auto;
      -moz-box-flex: 0;
      -ms-flex: 0 0 auto;
      flex: 0 0 auto; }
    .yw-solrfacetchart-toppanel-filters {
      padding: 15px; }
      .yw-solrfacetchart-toppanel-filters-popup .yw-solrfacetchart-toppanel-filters {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -webkit-flex-direction: row;
        -moz-box-orient: horizontal;
        -moz-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row;
        -webkit-box-pack: justify;
        -webkit-justify-content: space-between;
        -moz-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-flex-wrap: wrap;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
      .yw-solrfacetchart-toppanel-filters .z-label {
        margin-bottom: 10px;
        color: #787878;
        display: block; }
      .yw-solrfacetchart-toppanel-filters-popup {
        width: 320px; }
        .yw-solrfacetchart-toppanel-filters-popup .ye-delete-btn {
          width: 16px;
          display: inline-block; }
        .yw-solrfacetchart-toppanel-filters-popup .z-label {
          max-width: calc(100% - 21px);
          display: inline-block;
          margin-bottom: 0; }
        .yw-solrfacetchart-toppanel-filters-popup .z-chosenbox,
        .yw-solrfacetchart-toppanel-filters-popup .z-combobox,
        .yw-solrfacetchart-toppanel-filters-popup .yw-solrfacetchart-filters > .z-div {
          margin-top: 10px;
          margin-bottom: 15px;
          width: 100%;
          display: block; }
          .yw-solrfacetchart-toppanel-filters-popup .z-chosenbox:last-child,
          .yw-solrfacetchart-toppanel-filters-popup .z-combobox:last-child,
          .yw-solrfacetchart-toppanel-filters-popup .yw-solrfacetchart-filters > .z-div:last-child {
            margin-bottom: 0; }
      .yw-solrfacetchart-toppanel-filters .z-combobox {
        margin-bottom: 10px; }
        .yw-solrfacetchart-toppanel-filters .z-combobox:hover > * {
          background-color: #eaf1f6; }
        .yw-solrfacetchart-toppanel-filters .z-combobox:last-child {
          margin-bottom: 0; }
      .yw-solrfacetchart-toppanel-filters-counter {
        min-width: 15px;
        height: 15px;
        font-size: 12px;
        font-weight: bold;
        line-height: 15px;
        color: #ffffff;
        background: #0486e0;
        border-radius: 8px;
        padding: 0 4px;
        right: 5px;
        top: 5px;
        z-index: 1;
        transform: translate3d(50%, -50%, 0);
        text-align: center;
        position: absolute; }
        .yw-solrfacetchart-toppanel-filters-counter:empty {
          display: none; }
  .yw-solrfacetchart-charts {
    background: #ffffff;
    flex: 2 1 70%;
    overflow: hidden; }
    .yw-solrfacetchart-charts .z-charts[data-highcharts-chart="3"] .highcharts-root {
      position: relative;
      left: 50%;
      -webkit-transform: translateX(-50%);
      -ms-transform: translateX(-50%);
      transform: translateX(-50%); }
    .yw-solrfacetchart-charts .highcharts-container {
      width: 100% !important;
      height: 350px !important;
      min-height: 350px !important;
      margin-top: 58px;
      margin-bottom: -8px; }
    .yw-solrfacetchart-charts .highcharts-root {
      width: auto !important;
      height: 100% !important;
      min-height: 350px !important;
      display: block;
      margin: 0 auto; }
    .yw-solrfacetchart-charts .highcharts-background {
      height: 100%;
      width: 100%; }
    .yw-solrfacetchart-charts .highcharts-title {
      display: none; }
    .yw-solrfacetchart-charts .highcharts-series > rect {
      stroke-width: 0; }
    .yw-solrfacetchart-charts .highcharts-tick {
      display: none; }
    .yw-solrfacetchart-charts .highcharts-text-outline {
      display: none; }
    .yw-solrfacetchart-charts .highcharts-label.highcharts-tooltip text > tspan:nth-child(3) {
      display: none !important; }
  .yw-solrfacetchart-rightpanel {
    flex: 1 1 30%;
    background: #ffffff; }
    .yw-solrfacetchart-rightpanel:empty {
      display: none; }
    .yw-solrfacetchart-rightpanel-container {
      padding: 15px;
      height: 100%;
      display: -webkit-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: center;
      -webkit-justify-content: center;
      -moz-box-pack: center;
      -ms-flex-pack: center;
      justify-content: center;
      -webkit-box-align: center;
      -webkit-align-items: center;
      -moz-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      text-align: center;
      width: 100%; }
    .yw-solrfacetchart-rightpanel-total-product-count {
      font-size: 42px;
      font-weight: bold;
      display: inline-block;
      text-align: center; }
      .yw-solrfacetchart-rightpanel-total-product-count-label {
        flex: 0 1 auto;
        width: 100%; }
        .yw-solrfacetchart-rightpanel-total-product-count-label:after {
          content: '';
          display: block;
          padding-top: 15px;
          border-bottom: 1px solid #c4cedc;
          width: 60%;
          margin: 0 auto 15px;
          -webkit-box-flex: 0;
          -webkit-flex: 0 1 auto;
          -moz-box-flex: 0;
          -ms-flex: 0 1 auto;
          flex: 0 1 auto; }
    .yw-solrfacetchart-rightpanel-go-to-all-products-button, .yw-solrfacetchart-rightpanel-add-new-product-button {
      color: #0486e0;
      margin-bottom: 10px;
      font-size: 14px;
      margin-left: 20px;
      text-decoration: none;
      position: relative;
      display: inline-block; }
      .yw-solrfacetchart-rightpanel-go-to-all-products-button:hover, .yw-solrfacetchart-rightpanel-add-new-product-button:hover {
        text-decoration: underline; }
      .yw-solrfacetchart-rightpanel-go-to-all-products-button:before, .yw-solrfacetchart-rightpanel-add-new-product-button:before {
        position: absolute;
        content: '';
        top: 50%;
        left: -20px;
        width: 12px;
        height: 12px;
        margin-top: -6px;
        background: url("img/icon_all-products.svg") center no-repeat;
        background-size: 12px auto; }
    .yw-solrfacetchart-rightpanel-add-new-product-button:before {
      background-image: url("img/icon_add-product.svg"); }
  .yw-solrfacetchart-bottompanel {
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    text-align: center;
    min-height: 85px; }
    .yw-solrfacetchart-bottompanel-onepoint {
      padding: 10px;
      background-color: rgba(127, 144, 165, 0.2);
      cursor: pointer;
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -ms-flex: 1;
      flex: 1; }
      .yw-solrfacetchart-bottompanel-onepoint:hover {
        background-color: rgba(127, 144, 165, 0.3); }
      .yw-solrfacetchart-bottompanel-onepoint-value {
        display: block; }
      .yw-solrfacetchart-bottompanel-onepoint-label {
        font-size: 24px;
        line-height: 24px;
        font-weight: bold;
        display: block; }
      .yw-solrfacetchart-bottompanel-onepoint-color-label {
        width: 15px;
        height: 15px;
        border-radius: 50%;
        display: inline-block; }
