.ye-onpremise-reference-pk-editor .ye-default-reference-container {
  background: #ffffff;
  border: 1px solid #acacac;
  height: 40px;
  padding: 9px 10px 10px;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis; }
  .ye-onpremise-reference-pk-editor .ye-default-reference-container .z-label {
    line-height: 19px;
    display: inline;
    white-space: nowrap;
    margin: 0;
    padding: 0; }
  .ye-onpremise-reference-pk-editor .ye-default-reference-container .ye-remove-reference {
    margin-top: -12px;
    width: 24px;
    min-height: 24px;
    height: 24px;
    position: absolute;
    display: none;
    padding: 0; }
    .ye-onpremise-reference-pk-editor .ye-default-reference-container .ye-remove-reference, .ye-onpremise-reference-pk-editor .ye-default-reference-container .ye-remove-reference:hover, .ye-onpremise-reference-pk-editor .ye-default-reference-container .ye-remove-reference:active, .ye-onpremise-reference-pk-editor .ye-default-reference-container .ye-remove-reference:focus {
      background: transparent;
      box-shadow: none; }
  .ye-onpremise-reference-pk-editor .ye-default-reference-container:hover {
    background: #eaf1f6;
    padding-right: 34px; }
    .ye-onpremise-reference-pk-editor .ye-default-reference-container:hover .ye-remove-reference {
      display: block; }
