@import url("cockpit.css");

body {
	background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAFCAYAAACNbyblAAAALUlEQVQImWNYtHzHf2S8aceZ/wzoAouW70AIwgTggsgCi5bv+M+ALrBo+Y7/AIsfTAo95vSpAAAAAElFTkSuQmCC) repeat #A2A7B8;
}

.yw-systemBarContainer .yw-systemItemsContainer .z-toolbarbutton {
	display: none;
}

.yw-systemBarContainer .yw-statusToolbar div.yw-logoContainer {
    background: url('images/my_bg.png');
    background-position: 0 -28px;
    width: 200px;
    height: 34px;
    margin-top: 5px;
}

.yw-com_hybris_cockpitng_widgets_common_systembar div.yw-systemBarContainer,
.yw-systemBarContainer .yw-perspective-breadcrumb.yw-perspective-breadcrumb-expanded,
.yw-perspective-popup tbody.z-treechildren,
.yw-roleChooser-popup .z-listbox-body .z-listbox-emptybody td,
.yw-quickToggleLocale .yw-quickToggleLocale-cl,
.yw-systemBarContainer .yw-processes-sidebar .yw-processes-header,
.yw-systemBarContainer .yw-processes-open-btn.yw-processes-unseen .z-toolbarbutton-content:before, 
.yw-systemBarContainer .yw-processes-open-btn-spin .z-toolbarbutton-content:before {
	background-color: #BD5C33;
}

.yw-systemBarContainer .yw-statusToolbar .widget_cnt .z-toolbarbutton:hover,
.yw-systemBarContainer .yw-statusToolbar a.z-toolbarbutton:hover,
.yw-perspective-popup tr.z-treerow:hover,
.yw-systemBarContainer .yw-statusToolbar .widget_cnt .z-toolbarbutton:focus,
.yw-systemBarContainer .yw-statusToolbar a.z-toolbarbutton:focus,
.yw-perspective-popup tr.z-treerow:focus,
.yw-systemBarContainer .yw-statusToolbar .widget_cnt .z-toolbarbutton:active,
.yw-systemBarContainer .yw-statusToolbar a.z-toolbarbutton:active,
.yw-perspective-popup tr.z-treerow:active,
.yw-perspective-popup tr.z-treerow.z-treerow-selected,
.yw-perspective-popup tr.z-treerow.z-treerow-selected:hover,
.yw-systemBarContainer .yw-statusToolbar .widget_body span[style="display: none;"] + .z-toolbarbutton {
	background-color: #ce724b;
}

.yw-systemBarContainer .ya-toggle .z-toolbarbutton img:hover,
.yw-systemBarContainer .ya-toggle .z-toolbarbutton.yw-flexlayout-trigger,
.yw-systemBarContainer .ya-toggle .z-toolbarbutton.cng-action-enabled img:hover {
    background: transparent;
}
.yw-systemBarContainer .ya-toggle .z-toolbarbutton > tbody {
    display: block;
    text-align: center;
}
.yw-systemBarContainer .ya-toggle .z-toolbarbutton table {
    width: 100%;
    table-layout: fixed;
}
.yw-systemBarContainer .ya-toggle .z-toolbarbutton table td {
	text-align: center;
}
.yw-systemBarContainer .ya-toggle.ya-toggle-active .z-toolbarbutton {
	background-color: #ce724b;
}

.yw-roleChooser-popup .z-popup-content .z-listitem,
.yw-roleChooser-popup .z-popup-content .z-listitem:hover,
.yw-roleChooser-popup .z-popup-content .z-listitem.z-listitem-selected,
.yw-roleChooser-popup .z-popup-content .z-listitem.z-listitem-selected:hover,
.yw-quickToggleLocale .z-popup-content .z-listitem,
.yw-quickToggleLocale .z-popup-content .z-listitem:hover,
.yw-quickToggleLocale .z-popup-content .z-listitem.z-listitem-selected,
.yw-quickToggleLocale .z-popup-content .z-listitem.z-listitem-selected:hover {
	background-color: #BD5C33;
}

.yw-roleChooser-popup .z-popup-content .z-listitem.z-listitem-selected .z-listcell,
.yw-quickToggleLocale .z-popup-content .z-listitem.z-listitem-selected .z-listcell {
	background-color: #c76840;
}

.yw-roleChooser-popup .z-popup-content .z-listcell:hover,
.yw-quickToggleLocale .z-popup-content .z-listcell:hover,
.yw-roleChooser-popup .z-popup-content .z-listitem.z-listitem-selected .z-listcell:hover,
.yw-quickToggleLocale .z-popup-content .z-listitem.z-listitem-selected .z-listcell:hover {
	background-color: #ce724b;
}

