div.container {
    display: flex;
    padding-top: 20px;
}

div#control-panel {
    border-right: 1px lightgrey solid;
    flex: 0;
    padding-right: 50px;
    white-space: nowrap;
}

div#tested-element {
    flex: 1;
    padding-left: 50px;
}

button#button-reset,
div.btn-group {
    width: 100%;
}

div.btn-group {
    display: flex;
}
div.btn-group label {
    flex: 1;
}