div.yw-explorerTree-widget.y-marketplace-explorer-tree .z-caption-content div.yw-navigationPanelStatus {
    background: url("images/vendor_manager_icon_small.png") no-repeat;
}
div.yw-explorerTree .y-tree-icon-marketplacebackoffice\.typenode\.vendor\.all .y-tree-icon{
    background-image: url("images/vendors.png");
}
div.yw-explorerTree .y-tree-icon-marketplacebackoffice\.typenode\.vendoruser\.all .y-tree-icon{
    background-image: url("images/vendor_users.png");
}

div.yw-explorerTree .y-tree-icon-customersupport_backoffice_explorerTree_vendorReviews .y-tree-icon{
    background-image: url("images/vendor_reviews.png");
}