/*================================
    Warehousing Refine By Widget
================================*/
.yw-warehousingrefineby {
  height: 100%;
  background: #1e2830;
  color: #ffffff;
  overflow: auto; }
  .yw-warehousingrefineby .yw-warehousingrefineby-container {
    padding: 20px 20px 10px 20px; }
    .yw-warehousingrefineby .yw-warehousingrefineby-container .z-label {
      margin: 10px 0 5px 1px;
      font-weight: bold;
      display: block; }
    .yw-warehousingrefineby .yw-warehousingrefineby-container .z-checkbox label {
      padding: 0 14px 6px 1px; }
    .yw-warehousingrefineby .yw-warehousingrefineby-container .header-container {
      display: flex;
      justify-content: space-between; }
      .yw-warehousingrefineby .yw-warehousingrefineby-container .header-container .z-label {
        line-height: 19px;
        text-transform: uppercase;
        margin: 0; }
  .yw-warehousingrefineby .yw-warehousing-no-filters {
    color: #acacac;
    font-style: italic;
    text-align: center;
    display: block; }

.yw-filter-icon {
  background: url("images/icon_action_filter_default.png") 0 0;
  display: block;
  height: 28px;
  width: 28px;
  margin: 2px 0 2px 0;
  opacity: 1; }

.z-vlayout-inner .yw-warehousing-filter-container {
  margin-top: -10px; }

/*================================
    Inbox Refine By Checkboxes
================================*/
.yw-warehousingrefineby .z-checkbox {
  display: block;
  padding-left: 20px; }
  .yw-warehousingrefineby .z-checkbox label {
    vertical-align: top; }
    .yw-warehousingrefineby .z-checkbox label:before {
      width: 14px;
      height: 14px;
      margin-top: 2px;
      top: 0;
      line-height: inherit; }
  .yw-warehousingrefineby .z-checkbox input:checked + label:before {
    background-size: 14px; }
