.yw-enumeration-action-popup {
  margin-left: -5px;
  margin-top: -1px; }
  .yw-enumeration-action-popup:before, .yw-enumeration-action-popup:after {
    left: 10px; }
.yw-enumeration-action-container .z-radiogroup {
  border-bottom: 1px solid #d5d8dc;
  border-top: 1px solid #d5d8dc;
  padding: 5px 10px;
  display: block; }
  .yw-enumeration-action-container .z-radiogroup:first-child {
    padding-top: 10px;
    border-top: none; }
.yw-enumeration-action-container .z-radio {
  display: block;
  padding-top: 5px;
  padding-bottom: 4px; }
.yw-enumeration-action-container > .z-button {
  margin: 10px; }
.yw-enumeration-action-container .z-radiogroup:first-child,
.yw-enumeration-action-container .z-radiogroup + .z-radiogroup,
.yw-enumeration-action-container > .z-button:first-child,
.yw-enumeration-action-container > .z-button + .z-button {
  margin-top: 0; }
.yw-enumeration-action-menu-container ul {
  width: 100%; }
.yw-enumeration-action-menu-container .z-menu:hover {
  background-color: #f6f8fa;
  color: #0486e0; }
.yw-enumeration-action-menu-container .z-menu-content {
  padding: 7px 17px 7px 7px;
  color: #151c22;
  min-height: auto; }
  .yw-enumeration-action-menu-container .z-menu-content:hover {
    background-color: #f6f8fa;
    color: #0486e0; }
.yw-enumeration-action-menu-container .z-menu-text {
  font-size: 14px; }
.yw-enumeration-action-menu-container .z-menu-icon {
  opacity: 0.7;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  background-color: inherit;
  color: inherit; }
.yw-enumeration-action-menu-popup {
  background-color: #ffffff;
  border: 1px solid #d2dae4;
  box-shadow: 0 2px 4px 0 rgba(30, 40, 48, 0.3); }
  .yw-enumeration-action-menu-popup .z-menuitem {
    background-color: #ffffff; }
    .yw-enumeration-action-menu-popup .z-menuitem:hover, .yw-enumeration-action-menu-popup .z-menuitem-content:hover {
      background-color: #f6f8fa; }
  .yw-enumeration-action-menu-popup .z-menuitem,
  .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content,
  .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content {
    color: #151c22; }
    .yw-enumeration-action-menu-popup .z-menuitem:hover,
    .yw-enumeration-action-menu-popup .z-menuitem:hover .z-menu-icon,
    .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content:hover,
    .yw-enumeration-action-menu-popup .z-menupopup-content .z-menu a.z-menu-content:hover .z-menu-icon,
    .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content:hover,
    .yw-enumeration-action-menu-popup .z-menupopup-content .z-menuitem a.z-menuitem-content:hover .z-menu-icon {
      color: #0486e0; }
  .yw-enumeration-action-menu-popup-menuitem {
    background-color: #ffffff;
    border-top: 1px solid #d2dae4; }
    .yw-enumeration-action-menu-popup-menuitem:first-child {
      border-top-width: 0; }
