
/********************************************************
                    Contextual Menu
*********************************************************/

@cmsx-ctx-btns__img--shadow: -1px 5px 12px -2px fade(@smartedit-grey34, 44%);
@cmsx-ctx-more-btn__bottom-shadow--box-shadow: 0px 1px 1px 1px fade(@smartedit-black, 10%);
@cmsx-ctx-btns__img--max-width: 42px;
@cmsx-ctx__icon--font-size: 10px;
@cmsx-ctx__icon--gutter: 10px;
@cmsx-ctx-btns__img--small--max-width: 24px;
@cmsx-ctx-dropdown-menu__label--font-size: 15px;
@cms-external-component-decorator--border: 1px solid @smartedit-grey2;
@hyicon-globe--normal--backgorund: @smartedit-blue;
@cms-external-component-button--width: 305px;
@cms-external-component-button--padding: .2*@smartedit-gutter;
@cms-external-component-button--font-size: 14px;
@cms-external-component-button--font-weight: @font-weight--normal;

.noboxshadow {
	box-shadow: none !important;
}

.yCmsCtxMenu.btn-group {
	box-shadow: none !important;
	display: inline-block;
	position: relative;

	ul.dropdown-menu {
		top: 41px;
		padding-top: 0;
		right: 0 !important;
		border: none !important;
		left: inherit !important;

		li a {
			padding-left: 26px;
			padding-right: 26px;
			&:hover {
				background-color: @smartedit-blue3;
				color: @white;
			}
		}

		.icontext {
			font-size: 15px;
		}

		.labeltext {
			font-size: 11px;
		}

	}
}

smartedit-element {
	display: block;
}

.smartEditComponentX {
	z-index: @z-index-level-1;
}

// elements contained by hovered slot are rendered above all other slots
.smartEditComponentX:hover {
	z-index: @z-index-level-2;
}

.smartEditComponentX > div {
	height: 100%;
	width: 100%;
}

.cmsx-slot-ctx-wrapper1 {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100%;

	.cmsx-slot-ctx-wrapper2 {
		display: table-cell;
		vertical-align: middle;
		position: relative;

		.yWrapperData {
			min-width: 51px;
			min-height: 49px;
		}

		.decorative-border {
			background-color: @smartedit-blue3;
			position: absolute;
		}
	}
}

.cmsx-ctx-wrapper1 {
	overflow: hidden;
	display: table;
	width: 100%;
	height: 100%;

	.cmsx-ctx-wrapper2 {
		display: table-cell;
		vertical-align: middle;

		.yWrapperData {
			min-width: 51px;
			min-height: 49px;
		}

		.decorative-border {
			background-color: @smartedit-blue3;
			position: absolute;
		}

		.decorative-top-border {
			height: 3px;
			top: 0;
			width: 100%;
		}

		.decorative-right-border {
			width: 3px;
			left: 0;
			top: 0;
			height: 100%;
		}

		.decorative-bottom-border {
			height: 3px;
			bottom: 0;
			width: 100%;
		}

		.decorative-left-border {
			width: 3px;
			right: 0;
			top: 0;
			height: 100%;
		}

		.contextualmenuBackground {
			position: absolute;
			top: 0;
			left: 0;
			height: 100%;
			width: 100%;
			-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

			/* IE 5-7 */
			filter: alpha(opacity=30);

			/* Netscape */
			-moz-opacity: 0.30;

			/* Safari 1.x */
			-khtml-opacity: 0.30;

			/* Good browsers */
			opacity: 0.30;

			&.editMode {
				background-color: @smartedit-blue3;
			}
		}

		.cmsx-ctx-btns,
		.cmsx-ctx-more-btn {
			position: relative;
			border-radius: 0;
			opacity: 1;
			border: 0;
			box-shadow: none;
			padding: 0px 0px;
			width: auto;
			background-color: transparent;
			&:focus {
				outline-color: transparent;
				outline-style: none;
				text-decoration: none;
			}
			&:hover {
				text-decoration: none;
			}
		}

		.cmsx-ctx-btns {
			margin-right: 2px;
			background-color: transparent;
			width: auto;
		}

		.cmsx-ctx-btns img {
			opacity: 1;
			box-shadow: @cmsx-ctx-btns__img--shadow;
		}

		.contextualMenuOverlay .cmsx-ctx-btns img {
			vertical-align: bottom;
		}

		.cmsx-ctx-more {
			height: 100%;
			.pull-right();
		}

		.cmsx-ctx-btns img {
			max-width: @cmsx-ctx-btns__img--max-width;
			box-shadow: @cmsx-ctx-btns__img--shadow;
		}

		.yCmsCtxMenu.dropdown .dropdown-menu {
			z-index: @z-index-level-1;
			border: 0;
			border-radius: 0;
			font-family: @font-open-sans;
		}

		.cmsx-ctx-menu-more-icon {
			max-width: 20px;
			margin-right: 10px;
		}

		.yCmsCtxMenu.dropdown .dropdown-menu li,
		.yCmsCtxMenu.dropdown .dropdown-menu li a {
			z-index: @z-index-level-1;
			margin-top: 0;
			padding-top: 5px;
			padding-bottom: 5px;
		}

		.yCmsCtxMenu.dropdown ul.dropdown-menu {
			margin-top: 0;
		}

		.cmsx-ctx-more-btn .bottom-shadow {
			box-shadow: @cmsx-ctx-more-btn__bottom-shadow--box-shadow;
			z-index: @z-index-level-1;
			position: relative;
		}
	}
}

.cmsx-ctx-btns,
.cmsx-ctx-more-btn {
	border-radius: 0;
	opacity: 1;
	border: 0;
	box-shadow: none;
	padding: 0px 0px;
	z-index: @z-index-level-1;
}

.cmsx-ctx-btns {
	margin-right: 2px;
}

.cmsx-ctx-btns img {
	opacity: 1;
}

.cmsx-ctx__icon-more {
	padding: 0 0 .1*@cmsx-ctx__icon--gutter .4*@cmsx-ctx__icon--gutter;
	font-size: 3.7*@cmsx-ctx__icon--font-size;
	line-height: 1;
	box-shadow: none;
	display: block;
	background: @smartedit-blue3;
	color: @smartedit-white;

	&:before {
		padding-right: .4*@cmsx-ctx__icon--gutter;
		margin-top: -.4*@cmsx-ctx__icon--gutter;
	}
	&:hover {
		background: @smartedit-white;
		color: @smartedit-blue3;
		&:before {
			margin-top: -.4*@cmsx-ctx__icon--gutter;
		}
	}
}

.cmsx-ctx-btns__img--small {
	max-width: @cmsx-ctx-btns__img--small--max-width;
	margin-right: .6*@cmsx-ctx__icon--gutter;
	margin-left: -.4*@cmsx-ctx__icon--gutter;
}

.cmsx-ctx-wrapper1 {
	overflow: hidden;
	display: table;
}

.cmsx-ctx-wrapper2 {
	display: table-cell;
	vertical-align: middle;
}

.cmsx-ctx-btns img,
.cmsx-ctx-more-btn img {
	max-width: @cmsx-ctx-btns__img--max-width;
}

.contextualMenuOverlay .cmsx-ctx-btns img {
	vertical-align: bottom;
}

.cmsx-ctx-more-btn .bottom-shadow {
	box-shadow: @cmsx-ctx-more-btn__bottom-shadow--box-shadow;
	z-index: @z-index-level-1;
	position: relative;
}

.cmsx-ctx-btns,
.cmsx-ctx-more-btn {
	border-radius: 0;
	opacity: 1;
	border: 0;
	box-shadow: none;
	padding: 0;
}

.cmsx-ctx-btns {
	margin-right: 2px;
}

.cmsx-ctx-btns img {
	opacity: 1;
}

.contextualMenuOverlay {
	position: absolute;
	z-index: @z-index-level-1;
	left: 3px;
	top: 3px;
	right: 3px;
	&.editMode {
		width: 100%;
		height: 100%;
	}
}

.cmsx-ctx-wrapper2,
.cmsx-ctx-wrapper1 {
	overflow: visible;
}

.se-contextual--menu-item {
	display: inline-block;
	margin-right: 4px;
}

.se-contextual-more-menu {
	display: inline-block;
	background-color: @smartedit-white;
	min-width: 200px;
	box-shadow: 0 6px 12px fade(@smartedit-black, 17.5%);
}

.se-contextual-more-menu--link:hover {
	text-decoration: none;
}

.se-contextual-more-menu--icon {
	margin-right: 8px;
	font-size: 18px;
	color: @smartedit-grey3;
	display: inline-block;
}

.se-contextual-more-menu--item {
	color: @smartedit-blue3;
	text-transform: uppercase;
	font-size: 16px;
	padding: 12px;
	display: block;
	&:hover {
		background-color: @smartedit-blue3;
		color: @smartedit-white;
		.se-contextual-more-menu--icon {
			color: @smartedit-white;
		}
	}
}

.se-contextual-extra-menu {
	background-color: @smartedit-white;
	padding: 10px;
}

.se-contextual--icon,
.hyicon-globe--normal {
	background: @smartedit-blue3;
	color: @smartedit-white;
	box-shadow: @cmsx-ctx-btns__img--shadow;
	font-size: 2.7 * @cmsx-ctx__icon--font-size;
	display: inline-flex;
	padding: .8 * @cmsx-ctx__icon--gutter .8 * @cmsx-ctx__icon--gutter .7 * @cmsx-ctx__icon--gutter .7 * @cmsx-ctx__icon--gutter;
	&:hover, &.is-active {
		background: @smartedit-white;
		color: @smartedit-blue3;
	}
}

.se-contextual--icon.removebutton {
	background: @smartedit-red1;
	&:hover {
		background: @smartedit-white;
		color: @smartedit-red1;
	}
}

.se-contextual--label.removebutton {
	color: @smartedit-red1;
}

.se-contextual-more-menu--item:hover .se-contextual--label.removebutton {
	color: @smartedit-white;
}

.cms-external-component-decorator {
	border: @cms-external-component-decorator--border;
	height: 100%;
}

.cms-external-component-decorator__popover {
	display: inline-block;
}

.cms-external-component-decorator > .contextualMenuOverlay {
	left: 1px;
	top: 1px;
}

.hyicon-globe--normal {
	background-color: @hyicon-globe--normal--backgorund;
	padding: 10px 8px 7px 9px;
}

.cms-external-component-button {
	width: @cms-external-component-button--width;
	padding: @cms-external-component-button--padding;
	font-size: @cms-external-component-button--font-size;
	font-weight: @cms-external-component-button--font-weight;
}


@se-slot-ctx-menu__btn__sync--font-size: 25px;
@se-slot-ctx-menu__btn__caution--before--padding-bottom: 3px;
@shared-slot-button-template__menu--width: 375px;
@slot-visiblity-component-template__icon__image--max-width: 74px;
@slot-visiblity-component-template--padding: 10px 0 10px 30px;
@slot-visiblity-component-template__icon--padding: 13px;
@slot-visiblity-component-template__icon--width: 100px;

.se-slot-contextual-menu-level1,
.se-slot-contextual-menu-level2 {
	overflow: visible;
}

.se-slot-contextual-menu-level2 {
	display: flex;
	flex-direction: column;
}

.decorative-panel-area {
	height: 42px;
	margin-top: -42px;
	width: auto;
	border: 2px solid @smartedit-blue;
	border-bottom: 0;
	background: @smartedit-blue2 repeat;
	display: flex;
	align-items: center;
}

.decorative-panel-text {
	padding: 0 10px;
	font-size: 17px;
	font-weight: @font-weight--book;
	font-family: @font-open-sans;
	color: @smartedit-white;
	display: flex;
	align-items: center;
	height: 100%;
	margin-bottom: 0;
	margin-top: 0;
}

.decorator-panel-padding-center {
	flex-grow: 1;
}

.decorative-panel-slot-contextual-menu {
	display: flex;
	right: 0px;
	top: -42px;
	&.editMode {
		width: 100%;
		height: 100%;
	}
}

.se-slot-ctx-menu__divider::before {
	background-color: @smartedit-white;
	display: block;
	content: "";
	position: absolute;
	width: 2px;
	height: 20px;
	opacity: .35;
	top: 10px;
	left: -2px;
}

.decorative-panel-basic-slot-contextual-menu {
	position: static;
	margin-top: -42px;
}

.decorative-panel-slot-contextual-menu .dropdown {
	position: relative;
}

.decorator-padding-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

.decorator-slot-border {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px dashed @smartedit-grey15;
	&.active {
		border: 2px solid @smartedit-blue;
		min-height: 49px;
	}
}

.decorator-basic-slot-border {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	border: 2px dashed @smartedit-grey15;
}

.decorator-padding-left,
.decorator-padding-right {
	background-image: url('../../../images/slot_background_v2.png');
	flex-grow: 1;
	display: none;
	box-shadow: inset 0 0 0 2px @smartedit-blue;
}

.decorator-padding-right.active {
	display: flex;
}

.cmsx-ctx-btns {
	display: inline-block;
}

/********************************************************
                Shared Slot Menu
*********************************************************/
@shared-slot__padding-left-right: 30px;
@shared-slot__padding-top-bottom: 20px;
@shared-slot__padding-spacing: 15px;

.shared-slot__dropdown {
	position: absolute;
	z-index: @z-index-level-3;
	background-color: @smartedit-white;
	width: 350px;
	padding: .4*@smartedit-gutter .6*@smartedit-gutter;
	right: -3px;
	color: @smartedit-black;
	font-size: 14px;
	font-weight: 500;
	text-transform: none;
	margin-top: 0;
	margin-right: -3px;
	border: none;
	box-shadow: 0 8px 12px fade(@smartedit-black, 17.5%);
	padding: 0;
	border-radius: 0;
}

.shared-slot__description {
	font-family: @font-open-sans;
	height: inherit;
	white-space: normal;
	margin: 0;
}

.shared-slot__header {
	padding: @shared-slot__padding-top-bottom @shared-slot__padding-left-right;
	font-size: 18px;
	font-weight: @font-weight--semibold;
	color: @smartedit-darkblue2;
}

.shared-slot__divider {
	height: 1px;
	overflow: hidden;
	background-color: @smartedit-grey22;
}

.shared-slot__description {
	padding: @shared-slot__padding-spacing @shared-slot__padding-left-right;
}

.shared-slot__body {
	padding: @shared-slot__padding-spacing @shared-slot__padding-left-right @shared-slot__padding-top-bottom;
}

.shared-slot__sub-header {
	text-transform: uppercase;
	font-size: 15px;
}

.shared-slot__link {
	color: @smartedit-blue;
	display: block;
	margin-top: 10px;
	cursor: pointer;
}

.shared-slot-button-template__btn:active,
.shared-slot-button-template__btn:hover,
.shared-slot-button-template__btn:hover:active,
.shared-slot-button-template__btn:focus,
.shared-slot-button-template__btn:focus:active {
	background-color: transparent;
}

.shared-slot-button-template__btn {
	background-color: transparent;
	border: 0;
	height: 44px;
	width: 62px;
	padding: 0;
	font-family: @font-open-sans;
	font-size: 14px;
	font-weight: @font-weight--semibold;
	margin-left: 2px;
	margin-right: -2px;
}

.se-slot-ctx-menu__icon-shared {
	font-size: 11px;
}

.se-slot-ctx-menu__icon-unshared {
	font-size: 20px;
	&:before {
		padding-top: 3px;
	}
}

.se-slot-ctx-menu__icon-shared,
.se-slot-ctx-menu__icon-unshared {
	vertical-align: top;
	&:before {
		vertical-align: initial;
	}
}

.shared-slot-button-template__btn.ySESharedSlotOpen:active,
.shared-slot-button-template__btn.ySESharedSlotOpen:focus,
.shared-slot-button-template__btn.ySESharedSlotOpen:focus:active,
.shared-slot-button-template__btn.ySESharedSlotOpen:hover:active,
.ySESharedSlotOpen:hover,
.ySESharedSlotOpen {
	background-color: @smartedit-white;
	color: @smartedit-blue4;
	border: none;
}

/********************************************************
                SLOT VISIBILITY
*********************************************************/

.slot-visibility-button-template__menu {
	z-index: @z-index-level-3;
	width: 520px;
	margin: 0 0 0 -1px;
	padding-top: 0;
	box-shadow: 0 8px 12px fade(@smartedit-black, 17.5%);
	border-radius: 0;
	border: none;
	padding-bottom: 0;
}

.slot-visibility-button-template__menu__title {
	padding: 20px 30px;
	font-size: 18px;
	font-weight: @font-weight--semibold;
	color: @smartedit-darkblue2;
}

.slot-visibility-component {
	margin-top: 0;
}

slot-visibility-component {
	display: block;
}

.slot-visibility-component--wrapper {
	border-top: 1px solid @smartedit-grey13;
	display: flex;
	align-items: center;
}

.slot-visiblity-component-template {
	padding: @slot-visiblity-component-template--padding;
	vertical-align: middle;
	overflow: auto;
	display: flex;
	align-items: center;
	flex-grow: 1;
}

.slot-visibility-component--wrapper__external {
	background-color: @smartedit-grey39;
	.slot-visiblity-component-template__text {
		color: @smartedit-grey35;
	}
	.slot-visiblity-component-template__icon {
		background-color: @smartedit-grey16;
	}
}

.slot-visiblity-component-template__icon {
	vertical-align: middle;
	float: left;
	width: @slot-visiblity-component-template__icon--width;
	background-color: @smartedit-blue;
	padding: @slot-visiblity-component-template__icon--padding;
}

.slot-visiblity-component-template__text-wrapper {
	width: calc(~"100% - 100px");
	padding-left: .4*@smartedit-gutter;
	flex-grow: 1;
	min-width: 0;
}

.slot-visiblity-component-template__icon__image {
	max-width: @slot-visiblity-component-template__icon__image--max-width;
}

.slot-visiblity-component-template__text {
	font-family: @font-open-sans;
	font-size: 15px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	display: block;
	margin: 0;
}

.slot-visiblity-component-template__text__name {
	font-weight: @font-weight--bold;
	color: @smartedit-blue;
}

.slot-visiblity-component-template__text__type {
	font-weight: @font-weight--normal;
	color: @smartedit-grey7;
	text-transform: uppercase;
}

.slot-visiblity-component-template__text__visibility {
	font-weight: @font-weight--normal;
	color: @smartedit-grey7;
}

.slot-visiblity-component--globe-icon {
	font-size: 20px;
	padding-left: 15px;
	color: @smartedit-grey40;
}

.slot-visiblity-component--hidden-menu {
	display: block;
	margin-left: 15px;
}

.slot-visibility-button-template__btn {
	width: 62px;
	height: 44px;
	padding: 0;
	font-family: @font-open-sans;
	font-size: 14px;
	font-weight: @font-weight--semibold;
	color: @smartedit-white;
	padding-left: 2px;
}

.slot-visibility-button-template__btn__img {
	height: 26px;
	width: 30px;
	margin-right: 5px;
}

.yWrapperData .slot-visibility-button-template__btn__img {
	margin-top: -2px;
}

.slot-visibility-button-template__btn,
.slot-visibility-button-template__btn:hover,
.slot-visibility-button-template__btn:active,
.slot-visibility-button-template__btn:focus,
.slot-visibility-button-template__btn:hover:active,
.slot-visibility-button-template__btn:focus:active {
	background-color: transparent;
	border: none;
}

.slot-visibility-button-template__btn-group .ySEVisibilityOpen,
.slot-visibility-button-template__btn-group .ySEVisibilityOpen:hover:active,
.slot-visibility-button-template__btn-group .ySEVisibilityOpen:focus:active,
.shared-slot-button-template__btn-group .ySESharedSlotOpen {
	background-color: @smartedit-white;
	border: none;
	color: @smartedit-blue4;
}

.slot-visibility-button-template__btn-group .ySEVisibilityOpen img.slot-visibility-button-template__btn__img,
.slot-visibility-button-template__btn-group img.slot-visibility-button-template__btn__img,
.shared-slot-button-template__btn-group .ySESharedSlotOpen img.shared-slot-button-template__btn__img {
	box-shadow: none;
}

.slot-context-menu-divider {
	width: 2px;
	height: 20px;
	background-color: @smartedit-white;
	opacity: .35;
	position: absolute;
	top: 10px;
}

.ySESyncOpen:focus,
.ySESyncOpen:active,
.ySESyncOpen:hover,
.ySESyncOpen:hover:active,
.ySESyncOpen {
	background-color: @smartedit-white;
	color: @smartedit-blue4;
}

.slot-sync-button-template .btn-group.se-slot-ctx-menu__btn-group .se-slot-ctx-menu__btn {
	margin-right: -2px;
	margin-left: 2px;
}

.se-slot-ctx-menu__btn__sync {
	font-size: @se-slot-ctx-menu__btn__sync--font-size;
}

.se-slot-ctx-menu__btn__sync:before {
	vertical-align: text-top;
}

.se-slot-ctx-menu__btn__caution:before {
	padding-bottom: @se-slot-ctx-menu__btn__caution--before--padding-bottom;
	vertical-align: text-bottom;
}

.se-slotshared-button-popover {
	background: @smartedit-white;
	color: @smartedit-grey7;
}

.se-page-sensitive,
.se-decorator-wrap {
	height: 100%;
}

.se-decorator-wrap {
	>slot-disabled-component {
		height: 100%;
		width: 100%;
		position: absolute;
	}
	&.ng-transclude {
		position: absolute;
	}	
}

/********************************************************
                HIDDEN COMPONENT MENU
*********************************************************/

.se-hidden-component-menu {
	background: @smartedit-white;
	border: 1px solid @smartedit-grey3;
	min-width: 180px;
}

.se-hidden-component-menu__popup-anchor {
	padding-right: 30px;
}

.se-hidden-component-menu__item {
	padding: 12px 15px;
	color: @smartedit-grey21;

	&:hover {
		background-color: @smartedit-blue3;
		color: @smartedit-white;

		.se-hidden-component-menu__item-link {
			color: inherit;
		}
	}
}

.se-hidden-component-menu__item-icon {
	margin-right: 15px;
}

.se-hidden-component-menu__icon {
	cursor: pointer;
	font-size: 32px;
	display: block;
	line-height: 0;
	padding-bottom: 20px;
	padding-top: 20px;
	color: @smartedit-blue;
}

@se-sync-panel__sync-status--bottom-border: 1px solid @smartedit-grey22;
@se-page-sync__y-help--padding: 0 .3*@smartedit-gutter;

.se-page-sync__header-content {
	font-size: @se-page-sync__header-content--font-size;
	text-transform: uppercase;
	font-weight: @font-weight--normal;
}

.se-page-sync__y-help {
	padding: @se-page-sync__y-help--padding;
	vertical-align: middle;
	.hyicon-help-icon {
		margin-top: 0;
		color: @smartedit-white;
	}
}

.se-sync-panel--y-message--modal-adjusted {
	margin: -2*@se-toolbar-menu-content__y-message--gutter -5*@se-toolbar-menu-content__y-message--gutter 0;
	display: block;
}

.se-sync-panel--y-message--toolbar-adjusted {
	.y-message-warning {
		padding: @se-toolbar-menu-content__y-message--gutter 3*@se-toolbar-menu-content__y-message--gutter;
	}
	.y-message-text {
		padding: 0 0 0 @se-toolbar-menu-content__y-message--gutter;
	}
}

.se-page-restrictions-editor--y-message--modal-adjusted {
	margin: -2*@se-toolbar-menu-content__y-message--gutter 0 @se-toolbar-menu-content__y-message--gutter;
	display: block;
}

.se-restriction-management-select--y-message--modal-adjusted {
	margin: -3*@se-toolbar-menu-content__y-message--gutter -5*@se-toolbar-menu-content__y-message--gutter @se-toolbar-menu-content__y-message--gutter;
	display: block;
}

.se-toolbar-menu-content__page-sync {
	border: 0;
}

.se-sync-panel__sync-status {
	border-bottom: @se-sync-panel__sync-status--bottom-border;
	display: block;
}

.se-toolbar-menu-content__page-sync .se-toolbar-menu-content--body {
	overflow-y: hidden;
}

//overwrite bootstrap definition
.slot-sync-button-template__menu {
	margin-right: -2px;
	margin-top: 0;
	border-radius: 0;
}

@disabled-shared-slot__icon--outer-background: fade(@smartedit-grey4, 50%);
@disabled-shared-slot-popover-border-radius: 3px;

.disabled-shared-slot-versioning-mode,
.disabled-shared-slot {
	background-color: fade(@smartedit-grey24, 35%);
	width: 100%;
	height: 100%;
	color: @smartedit-grey25;
	text-align: center;
	word-wrap: break-word;
	text-overflow: clip;
	position: relative;
}

.disabled-shared-slot-versioning-mode {
	background-color: none;
	background-image: repeating-linear-gradient(
		45deg, 
		@smartedit-opacity-grey1, 
		@smartedit-opacity-grey1 10px, 
		@smartedit-opacity-grey2 5px, 
		@smartedit-opacity-grey2 25px
	);
}

.disabled-shared-slot__icon--outer,
.disabled-shared-slot__icon--outer-hovered {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: @z-index-level-5;
	opacity: 0.5;

	&.disabled-shared-slot__icon--outer-globe,
	&.disabled-shared-slot__icon--outer-linked {
		border: 2px solid @smartedit-white;
		opacity: 0.5;
	}
}

.disabled-shared-slot__icon--inner {
	font-weight: bold;
	color: @smartedit-white;
	width: 100%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: @z-index-level-5;
	opacity: 0.5;

	&.hyicon-lock:before {
		font-size: 42px;
		position: relative;
		left: 5px;
	}
	&.hyicon-linked:before {
		font-size: 11px;
	}
	&.hyicon-globe:before {
		font-size: 24px;
	}
}

.disabled-shared-slot-hovered {
	background-color: fade(@smartedit-grey24, 55%);

	.disabled-shared-slot__icon--inner,
	.disabled-shared-slot__icon--outer {
		opacity: 1;
	}
}

.disabled-shared-slot-tooltip__wrapper {
	background: @default-greyblue;
	display: flex;
	align-items: center;
	border-radius: @disabled-shared-slot-popover-border-radius;
}

.disabled-shared-slot-tooltip__info {
	color: @smartedit-white;
	padding: .4*@smartedit-gutter;
}

// .cms-external-component-decorator--versioning{
// 	border: @smartedit-border5;
// }

.slot-visiblity-component--globe-icon {
	color: @smartedit-grey40;
}

.hyicon-globe--version{
	background: @smartedit-grey40;
	color: @smartedit-white;
	&:hover {
		background: @smartedit-grey40;
		color: @smartedit-white;
	}
}

.cms-external-component-decorator--versioning .hyicon-globe {
    cursor: default;
    position: relative;
    width: 44px;
    height: 44px;
    display: inline-block;
}