.item__list .item__checkbox {
	width: 60px;
}

.cart-select-checkbox {
	width: 15px;
	height: 15px;
}

.item__list .item__list--item .item__checkbox {
	display: table-cell;
	padding: 0 0 0 25px;
	vertical-align: middle;
}

.cart-select-all {
	padding-left: 35px;
}

.cart-select-all:first-child {
	margin-top: 15px;
	margin-bottom: 0;
}

.cart-select-all:last-child {
	margin-top: 5px;
	margin-bottom: 0;
}

.cart-select-all-wishlist {
	padding-left: 35px;
	margin-top: 15px;
	margin-bottom: 0;
}

.cart-select-all-label {
	text-transform: uppercase;
	font-size: 16px;
	margin-bottom: 0;
}

.wishlist-item {
	background-color: #f2f2f2;
}

.item__list__cart {
	margin-top: 0;
	margin-bottom: 0;
}

.export__cart--link {
	padding-left: 24px;
	margin-top: 0;
}

.cart-select-all-bottom {
	margin-top: 0;
}

.cart-actions--print {
	margin-bottom: 15px;
}

.cart-voucher {
	margin-top: 17px;
}

.cart-totals {
	margin-top: 15px;
}

.cartproline {
	padding-top: 15px;
}

