.oms-widget-atpform-body {
  padding-left: 20px;
  padding-bottom: 20px;
  width: 100%; }
  .oms-widget-atpform-body table {
    width: 100%; }

.oms-widget-atpform-searchbutton--hbox {
  padding-bottom: 0;
  padding-right: 32px;
  height: 100%; }

.oms-widget-atpform-row .z-hlayout-inner {
  width: 33%; }

.oms-widget-atpform-row--button .z-hlayout-inner:nth-child(2) {
  width: 67%;
  height: 60px; }

.oms-widget-atpform-body--vbox {
  width: 100%; }

.oms-widget-atpform-searchbutton--wrapper {
  position: relative;
  height: 100%; }

.oms-widget-atpform-searchbutton {
  position: absolute;
  right: 0px;
  bottom: 0px; }
