.oms-widget-atpviews-label {
  margin-bottom: 20px;
  display: block; }

.oms-widget-atpviews__content {
  height: 250px; }

.oms-widget-atpviews__content-tabpanels {
  background-color: #ffffff; }

.oms-widget-atpviews__content-tabs .z-tab-content .z-tab-text {
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  padding-bottom: 3px; }

.oms-widget-atpviews__content-tabs .z-tabs-content {
  padding-right: 30px; }

.oms-widget-atpviews__content-tabpanels {
  padding: 30px; }

.oms-widget-atpviews__content-body.z-listbox {
  border: none; }

.oms-widget-atpviews__content-listbox-head--formula,
.oms-widget-atpviews__content-listbox-head--number,
.oms-widget-atpviews__content-listbox-head--active {
  border-left: none; }
