
/********************************************************
                    Input Group Field
*********************************************************/

@se-input-group--height: 42px;

.se-input-group {
	width: 100%;
	height: @se-input-group--height;
	display: flex;
	position: relative;
	align-items: center;
}

.se-input-group--addon {
	display: flex;
	align-items: center;
	height: 100%;
	margin-bottom: 0;
	font-size: 1rem;
	line-height: 1.25;
	text-align: center;
	padding: 5px 10px;
	background-color: @smartedit-white;
}

.se-input-group--input {
	border: 0;
	flex-grow: 1;
	width: 100%;
	border: none;
	display: block;
	color: @smartedit-grey41;
	font-size: 14px;
	height: 100%;
	padding: 11px 0;
	line-height: 1.42857143;
	background-color: @smartedit-white;
	&:focus {
		outline: none;
	}
	&::-ms-clear {
		display: none;
	}
}