/********************************************************
            Sync Slot on Decorator Toolbar
*********************************************************/
@se-slot-ctx-menu__btn--height: 44px;
@se-slot-ctx-menu__btn--width: 62px;
@se-slot-ctx-menu__btn--font-size: 14px;
@se-slot-sync__header--bottom-border: 1px solid @smartedit-grey2;

.slot-sync__header {
    padding: 20px 30px;
    font-size: 18px;
    font-weight: @font-weight--semibold;
    color: @smartedit-darkblue2;
    border-bottom: @se-slot-sync__header--bottom-border;
}

//slot contextual menu item
//

// 1. wrap element -> ddlb
//  1.1. button
//      1.1.1 extra content
//  1.2. menu list

.se-slot-ctx-menu__btn,
.se-slot-ctx-menu__btn:focus,
.se-slot-ctx-menu__btn:active,
.se-slot-ctx-menu__btn:hover,
.se-slot-ctx-menu__btn:hover:active {
    background-color: transparent;
}

.se-slot-ctx-menu__btn {
    border: 0;
    height: @se-slot-ctx-menu__btn--height;
    width: @se-slot-ctx-menu__btn--width;
    padding: 0;
    font-family: @font-open-sans;
    font-size: @se-slot-ctx-menu__btn--font-size;
    font-weight: @font-weight--semibold;
}

.se-slot-ctx-menu__btn--disabled {
    color: fade(@smartedit-white, 45%);
}

.se-slot-ctx-menu__btn.dropdown-toggle {
    border: none;
}

.se-slot-ctx-menu__btn-group.open .se-slot-ctx-menu__btn {
    background-color: @smartedit-white;
    border: none;
    color: @smartedit-blue4;
}

.se-slot-ctx-menu__btn-group.open .se-slot-ctx-menu__btn img.se-slot-ctx-menu__btn {
    box-shadow: none;
}

.se-slot-ctx-menu__popover {
    position: absolute;
    top: 0;
    left: -2px;
    right: -2px;
    bottom: 0;
    z-index: 1;
}

.se-generic-editor-multiple-dropdown__match .ui-select-match-close.select2-search-choice-close {
    position: absolute;
    left: auto;
    right: 5px;
    top: 25%;
    text-decoration: none;
}

.se-generic-editor-multiple-dropdown__match .ui-select-match-item.select2-search-choice {
    border: 1px solid @smartedit-grey17;
    border-radius: 5px;
    margin: 5px;
}

.se-generic-editor-multiple-dropdown__match .ui-select-match-item.select2-search-choice:first-child {
    margin-top: 10px;
}

.se-generic-editor-multiple-dropdown__match .ui-select-match-item.select2-search-choice:last-child {
    margin-bottom: 10px;
}
