
/********************************************************
                    Y-Popover
*********************************************************/

//popover
.popover {
	max-width: none;
	z-index: @z-index-level-5;
	border: none;
	border-radius: 0;
}

.popover-title {
	background-color: @smartedit-grey40;
	padding: .4*@smartedit-gutter .4*@smartedit-gutter 0 .4*@smartedit-gutter;
	border: none;
	font-weight: @font-weight--semibold;
	font-family: @font-open-sans;
	font-size: 19px;
}

.popover-content {
	padding: .4*@smartedit-gutter;
}

.popover-content .se-version-item-context--description__wrapper {
	word-wrap: break-word;
}

.se-ypopover {
	color: @smartedit-white;
	background-color: @smartedit-grey40;
	border: 0;
	z-index: @z-index-level-5;
	position: relative;
	display: block;
	max-width: 276px;

	&.top,
	&.bottom,
	&.left,
	&.right {
		.arrow {
			margin: 0;
		}
	}
	&.top {
		margin-top: 0;
		margin-bottom: 10px;
		> .arrow {
			bottom: -10px;
		}
		> .arrow:after {
			border-top-color: @smartedit-grey40;
		}
	}
	&.bottom {
		margin-top: 10px;
		> .arrow {
			top: -10px;
		}
		> .arrow:after {
			border-bottom-color: @smartedit-grey40;
		}
	}
	&.left {
		margin-right: 10px;
		> .arrow {
			right: -10px;
		}
		> .arrow:after {
			border-left-color: @smartedit-grey40;
		}
	}
	&.right {
		margin-left: 10px;
		> .arrow {
			left: -10px;
		}
		> .arrow:after {
			border-right-color: @smartedit-grey40;
		}
    }
}

.se-help-control {
	cursor: pointer;
	position: relative;
	width: 25px;
	height: 25px;
	display: inline-block;

    .hyicon-help-icon {
		color: #777777;
		font-size: 1.6em;
		vertical-align: baseline;

		&:before {
			content: "\f11e";
			position: relative;
			top: 3px;
		}
    }
}

.se-ypopover--inner-content {
	max-width: 320px;
}

.se-popover-popup {
	z-index: 9999;
	display: block;
}

/********************************************************
                    Y-Popup-Overlay
*********************************************************/

.y-popover-outer {
	position: absolute;
	width: auto;
	height: auto;
	z-index: 99999;
}

.y-popover-inner {
	position: absolute;
	width: auto;
	height: auto;
	display: inline-block;
}