.account-section .invoiceTopBackBtn{
	  	background-color: transparent;
	  	border: none;
	  	box-shadow: none;
}

.account-invoiceitemdetails-section-content{
	padding-top: 5px;
}


.invoice-terms_condition,invoice_weight {
  text-align: left;
  line-height: 2em;
  margin: 14px;
}



.invoice-order-totals {
  text-align: right;
  line-height: 2em;
  margin: 14px;
}



.invoice-order-totals .billed-value {
  margin-top: 5px;
  border-top: 1px solid #e5e5e5;
  line-height: 2.5em;
  font-size: 18px;
  font-weight: bold;
}


.account-orderdetail .invoice-other-information ul {
  padding: 0;
}
.account-orderdetail .invoice-other-information ul li {
  list-style: none;
}




