 /* *
/* This file includes the common styles used in Personalization
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/
 /* new: the active status is now called enabled
 /* the inactive status is now called disabled 
 */
 
.status-active {
    color: @text-color-green;
}
 
.status-ignore,
.status-inactive {
    color: @text-color-grey;
}

.perso-list__status--value {
    font-size: 12px;
    text-transform: uppercase;
    font-weight: @font-weight-bold;
}

.personalization-modal__label {
    font-size: 13px;
    font-weight: @font-weight-bold;
}
 