/* *
/* This file will include all the constants (e.g. colors, fonts, etc)
*/
/** Colors
/* all the colors used - write them once in this section so we can easier keep track and re-use
*/

@white: #ffffff;
@techne__row--background-color--hover: #d2dbe6;
@techne__row--background-color--selected: #82aedb;

// border colors
@border-color-light-grey: #d4d7dc;

// background colors
@background-color-white: @white;
@background-color-light-grey1: #e0e9f0;
@background-color-light-grey2: #caddf0;

// text colors
@text-color-grey: #8592a2; //for a counting results, headers
@text-color-dark-blue: #27394f; //for modal titles, content text
@text-color-green: green;
@text-color-white: @white;

//font-weights
@font-weight-semibold: 600;
@font-weight-bold: 700;
@font-weight-normal: 400;

//font-family
@font-family-open-sans: "Open Sans", sans-serif;

//opacity
@opacity_one: 1;
@opacity_point-four: 0.4;

//padding, margins
@perso-gutter: 20px;    //the most common value for padding, margins or increments of it

//font sizes
@perso__default-text--font-size: 15px;
@perso-panel__title--font-size: 18px;