/********************************************************
                    Elements
*********************************************************/

.smartedit-html-container {
	height: auto;
}

.btn-primary {
	color: @smartedit-white;
	&:hover, &:focus,
	&:hover:active {
		color: @smartedit-white;
	}
}