@ps-grey1: #313440;
@ps-grey2: #d4d7dc;
@ps-grey3: #f4f6f7;

.ps-search-profile__sel-tree{
    width: 100%;
}

.ps-search-profile__selection{
    margin-top: 25px;
}

//overwrite the tree styling
.ps-search-profile__sel-profile,
.ps-search-profile__sel-profile:hover{
    font-size: 14px;
    font-weight: 400;
    color: @ps-grey1;
}

.ps-search-profile__sel-profile{
    border: none;
    background: transparent;
    padding-left: 16px;
    width: 90%;
    display: flex;
    align-items: center;
}

.ps-search-profile__sel-profile:hover{
    background-color: transparent;
}

.ps-search-profile__sel-menu{
    border: none;
    width: 10%;
}

.ps-control-label{
    font-weight: 700;
}

//show an extra label that is missing in personalization
.ps-control-label__cust:extend(.ps-control-label){
    position: absolute;
    bottom: -50px;
}

.ps-search-profile{
    margin-bottom: 45px;
}

.ps-search-profile__sel-tbody{
    width: 100%;
}

.ps-search-profile__sel-tree{
    border-collapse: separate;
}

.ps-search-profile__sel-tree-row-wrapper{
    display: flex;
    justify-content: space-between;
}

.ps-search-profile__sel-tree-row-wrapper{
    border-top: 1px solid @ps-grey2;
    border-left: 1px solid @ps-grey2;
    border-right: 1px solid @ps-grey2;
}
.ps-search-profile__sel-tree-row:last-of-type{
    border-bottom: 1px solid @ps-grey2;

}

.ps-search-profile__sel-tree-row:hover{
    background-color: @ps-grey3;
}

.ps-search-profile__sel-tree .angular-ui-tree-placeholder{
    border: 1px dashed @ps-grey2;
    margin: 0;
}