.yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter .z-groupbox-content tr > .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell {
  padding-bottom: 30px; }
.yw-de_hybris_platform_adaptivesearch_widgets_searchConfigurationAdapter .z-groupbox-content > .z-hbox:last-child tr > .yw-editorarea-tabbox-tabpanels-tabpanel-groupbox-attrcell:last-child {
  padding-bottom: 0; }

.yas-editor {
  width: 100%;
  /* Facets & Sorts */
  /* Sprite Icon */
  /* Boost Rules */
  /* Actions */ }
  .yas-editor .yas-filter {
    padding-bottom: 2px; }
  .yas-editor .yas-create {
    padding-top: 2px; }
  .yas-editor .z-listbox {
    width: 100%;
    padding: 0;
    border: none;
    margin: 0; }
    .yas-editor .z-listbox .z-listitem {
      padding: 0; }
      .yas-editor .z-listbox .z-listitem .z-listcell-content {
        padding: 0; }
      .yas-editor .z-listbox .z-listitem .yas-item-detail .z-listcell-content {
        left: 56px;
        overflow: visible;
        width: 75%; }
        .yas-editor .z-listbox .z-listitem .yas-item-detail .z-listcell-content .z-listitem-checkable.z-listitem-checkbox {
          position: absolute;
          top: 3px;
          left: -22px; }
      .yas-editor .z-listbox .z-listitem .yas-item-detail .yas-facet-values .yas-actions {
        display: block;
        text-align: left; }
      .yas-editor .z-listbox .z-listitem .yas-item-detail .yas-facet-values .yas-action a {
        padding-left: 56px; }
    .yas-editor .z-listbox .z-listbox-emptybody {
      display: none; }
  .yas-editor .yas-item .z-label {
    display: inline;
    white-space: normal;
    line-height: 27px; }
  .yas-editor .yas-item .yas-item-master {
    display: table;
    width: 100%; }
    .yas-editor .yas-item .yas-item-master-inner {
      display: table-row; }
      .yas-editor .yas-item .yas-item-master-inner .yas-toggle {
        display: table-cell;
        width: 16px;
        vertical-align: middle;
        text-align: center;
        color: #0486e0;
        font-size: 20px; }
        .yas-editor .yas-item .yas-item-master-inner .yas-toggle-icon {
          width: 100%;
          height: 50%;
          background: transparent; }
        .yas-editor .yas-item .yas-item-master-inner .yas-toggle.yas-toggle-disabled {
          color: #999; }
      .yas-editor .yas-item .yas-item-master-inner .yas-info {
        display: table-cell;
        width: 40px;
        height: 40px;
        padding: 4px;
        vertical-align: middle;
        text-align: center; }
        .yas-editor .yas-item .yas-item-master-inner .yas-info-icon {
          width: 32px;
          height: 32px;
          background-repeat: no-repeat;
          background-attachment: scroll; }
          .yas-editor .yas-item .yas-item-master-inner .yas-info-icon:after {
            content: '';
            display: none;
            position: absolute;
            top: 1px;
            left: 1px;
            height: 7px;
            width: 7px;
            background: url("images/icon_appendix_external-profile.png") no-repeat; }
      .yas-editor .yas-item .yas-item-master-inner .yas-label {
        display: table-cell;
        vertical-align: middle;
        text-align: left;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        max-width: 0;
        padding-right: 6px; }
        .yas-editor .yas-item .yas-item-master-inner .yas-label .z-label {
          color: #000000;
          text-overflow: ellipsis;
          white-space: nowrap; }
      .yas-editor .yas-item .yas-item-master-inner .yas-property {
        display: table-cell;
        width: 70px;
        padding-right: 6px;
        vertical-align: middle;
        text-align: left; }
      .yas-editor .yas-item .yas-item-master-inner .yas-property.yas-editable .ye-instant-editor-label-editable {
        margin: 0; }
      .yas-editor .yas-item .yas-item-master-inner .yas-property.yas-editable .ye-instant-editor-buttons-container {
        position: static; }
      .yas-editor .yas-item .yas-item-master-inner .yas-property.yas-property-facetFiltersCount {
        width: 46px;
        padding: 0;
        text-align: center; }
  .yas-editor .yas-item.yas-from-search-configuration.yas-override .yas-item-master-inner .yas-info-icon:after {
    left: -3px; }
  .yas-editor .yas-item .yas-item-detail .yas-item-detail-inner {
    display: table-row; }
  .yas-editor .yas-item .yas-item-detail .z-listitem .z-listcell {
    border-top-width: 1px; }
  .yas-editor .yas-item .yas-item-detail .z-listitem:first-child .z-listcell {
    border-top-width: 0; }
  .yas-editor .yas-item .yas-actions {
    width: 30px;
    min-width: 30px;
    display: table-cell;
    vertical-align: middle;
    text-align: center; }
    .yas-editor .yas-item .yas-actions .z-button {
      color: #0486e0;
      font-size: 20px;
      padding-left: 10px;
      padding-right: 10px;
      min-width: 28px;
      text-align: center;
      background: transparent; }
      .yas-editor .yas-item .yas-actions .z-button[disabled] {
        background: transparent !important; }
      .yas-editor .yas-item .yas-actions .z-button:active, .yas-editor .yas-item .yas-actions .z-button:focus {
        box-shadow: none; }
  .yas-editor .yas-item.yas-invalid {
    background-color: #ffdfdd; }
  .yas-editor .yas-item:not(.yas-from-search-configuration) .yas-item-master-inner .yas-label .z-label,
  .yas-editor .yas-item:not(.yas-from-search-configuration) .yas-item-master-inner .yas-property:not(.yas-property-facetFiltersCount) .z-label {
    color: #999; }
  .yas-editor .yas-item:not(.yas-from-search-profile):not(.yas-from-search-configuration) .yas-info-icon:after, .yas-editor .yas-item.yas-from-search-profile.yas-from-search-configuration.yas-override:not(.yas-override-from-search-profile) .yas-info-icon:after {
    display: block; }
  .yas-editor .yas-property.yas-property-facetFiltersCount .z-label {
    border-radius: 40px;
    padding: 2px 8px 1px 7px;
    color: #ffffff;
    font-size: 12px;
    background: #0486e0;
    white-space: nowrap; }
    .yas-editor .yas-property.yas-property-facetFiltersCount .z-label:after {
      height: 16px;
      width: 16px;
      background: transparent url(images/icon-applied-filter.svg) no-repeat;
      transform: translate(2px, 3px);
      display: inline-block;
      content: ''; }
  .yas-editor.as-promoted-items-editor .yas-item .yas-info-icon, .yas-editor.as-promoted-facets-editor .yas-item .yas-info-icon, .yas-editor.as-promoted-sorts-editor .yas-item .yas-info-icon {
    background-position: -23px -63px; }
  .yas-editor.as-promoted-items-editor .yas-item.yas-from-search-configuration .yas-info-icon, .yas-editor.as-promoted-facets-editor .yas-item.yas-from-search-configuration .yas-info-icon, .yas-editor.as-promoted-sorts-editor .yas-item.yas-from-search-configuration .yas-info-icon {
    background-position: 5px -63px; }
  .yas-editor.as-promoted-items-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon, .yas-editor.as-promoted-facets-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon, .yas-editor.as-promoted-sorts-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon {
    background-position: -56px -63px; }
  .yas-editor.as-facets-editor .yas-item .yas-info-icon {
    background-position: -23px 0; }
  .yas-editor.as-facets-editor .yas-item.yas-from-search-configuration .yas-info-icon {
    background-position: 5px 0; }
  .yas-editor.as-facets-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon {
    background-position: -56px 0; }
  .yas-editor.as-sorts-editor .yas-item .yas-info-icon {
    background-position: -23px -91px; }
  .yas-editor.as-sorts-editor .yas-item.yas-from-search-configuration .yas-info-icon {
    background-position: 5px -91px; }
  .yas-editor.as-sorts-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon {
    background-position: -56px -91px; }
  .yas-editor.as-excluded-items-editor .yas-item .yas-info-icon, .yas-editor.as-excluded-facets-editor .yas-item .yas-info-icon, .yas-editor.as-excluded-sorts-editor .yas-item .yas-info-icon {
    background-position: -23px -32px; }
  .yas-editor.as-excluded-items-editor .yas-item.yas-from-search-configuration .yas-info-icon, .yas-editor.as-excluded-facets-editor .yas-item.yas-from-search-configuration .yas-info-icon, .yas-editor.as-excluded-sorts-editor .yas-item.yas-from-search-configuration .yas-info-icon {
    background-position: 5px -32px; }
  .yas-editor.as-excluded-items-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon, .yas-editor.as-excluded-facets-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon, .yas-editor.as-excluded-sorts-editor .yas-item.yas-from-search-configuration.yas-override .yas-info-icon {
    background-position: -56px -32px; }
  .yas-editor.as-facets-editor .yas-item:not(.yas-in-search-result) .yas-item-master, .yas-editor.as-sorts-editor .yas-item:not(.yas-in-search-result) .yas-item-master, .yas-editor.as-promoted-facets-editor .yas-item:not(.yas-in-search-result) .yas-item-master, .yas-editor.as-promoted-sorts-editor .yas-item:not(.yas-in-search-result) .yas-item-master {
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAANklEQVQoU2NkwAM+ffr0nxGXPEiSj4+PEasCmCRIM4YCZEkMBeiSKAqwScIV4JIEK8AnCVIAAFqcH94OKvGiAAAAAElFTkSuQmCC) repeat; }
    .yas-editor.as-facets-editor .yas-item:not(.yas-in-search-result) .yas-item-master .yas-label .z-label, .yas-editor.as-sorts-editor .yas-item:not(.yas-in-search-result) .yas-item-master .yas-label .z-label, .yas-editor.as-promoted-facets-editor .yas-item:not(.yas-in-search-result) .yas-item-master .yas-label .z-label, .yas-editor.as-promoted-sorts-editor .yas-item:not(.yas-in-search-result) .yas-item-master .yas-label .z-label {
      color: #999; }
  .yas-editor.as-facets-editor .yas-item .yas-property.yas-property-priority, .yas-editor.as-sorts-editor .yas-item .yas-property.yas-property-priority, .yas-editor.as-promoted-facets-editor .yas-item .yas-property.yas-property-priority, .yas-editor.as-promoted-sorts-editor .yas-item .yas-property.yas-property-priority {
    width: 50px;
    text-align: right; }
  .yas-editor .yas-item .yas-facet-values .yas-facet-value .yas-facet-value-count {
    padding-left: 6px;
    font-weight: bold; }
  .yas-editor .yas-item .yas-facet-values .yas-actions,
  .yas-editor .yas-item .yas-facet-values .yas-actions .yas-action {
    width: 100%; }
  .yas-editor .yas-item .yas-facet-values .yas-actions .yas-action a {
    background: #ffffff;
    line-height: 24px;
    color: #0486e0;
    padding-top: 2px;
    padding-bottom: 2px;
    display: inline-block;
    width: 100%;
    padding-left: 30px; }
    .yas-editor .yas-item .yas-facet-values .yas-actions .yas-action a:hover {
      background: #f6f8fa; }
  .yas-editor.as-boost-rules-editor .yas-item .yas-item-master .yas-item-master-inner .yas-info {
    display: none; }
  .yas-editor.as-boost-rules-editor .yas-item .yas-item-master .yas-item-master-inner .yas-property.yas-property-boostTypeSymbol {
    text-align: right;
    width: 20px; }
  .yas-editor.as-boost-rules-editor .yas-item .yas-item-master .yas-item-master-inner .yas-property.yas-property-boost {
    text-align: right;
    width: 50px; }
  .yas-editor > div:last-child .z-button {
    display: block;
    cursor: pointer;
    text-align: left;
    text-transform: none;
    position: relative;
    width: 100%;
    height: 30px;
    background: transparent;
    padding-left: 27px;
    color: #000000;
    font-size: 12px;
    border: 1px solid #acacac;
    box-shadow: -2px 2px 2px #eaedf1;
    transition: 0s; }
    .yas-editor > div:last-child .z-button:hover {
      background: #eaf1f6; }
    .yas-editor > div:last-child .z-button i {
      position: relative;
      top: 2px;
      left: -10px;
      color: #6f7c91;
      font-size: 16px; }
