/* *
/* This file includes the styles used in Combined View Panel
/* The styles follow the BEM principles - http://getbem.com/introduction/
*/

@pe-combined-view-panel__configure-layout--padding: 0.75*@perso-gutter 0.25*@perso-gutter 0.75*@perso-gutter 1.25*@perso-gutter;   //15px 5px 15px 25px;
@pe-combined-view-panel__list-layout--padding: 0.75*@perso-gutter 1.25*@perso-gutter;   //15px 25px;
@pe-combined-view-panel-list__names-layout--padding-left: 0.5*@perso-gutter;    //10px
@pe-combined-view-panel-list__icon--padding-left: 0.5*@perso-gutter;    //10px
@pe-combined-view-panel__configure-btn--padding-right: 0.25*@perso-gutter;    //5px

.pe-combined-view-panel__wrapper {
    text-align: center;
    font-size: @perso__default-text--font-size;
    max-height: @perso-panel--height;
    overflow-x: hidden;
}

.pe-combined-view-panel__configure-layout {
    display: flex;
    justify-content: space-between;
    padding: @pe-combined-view-panel__configure-layout--padding;
    border-bottom: 1px solid @border-color-light-grey;
}

.pe-combined-view-panel__configure-btn {
    font-weight: @font-weight-semibold;
    font-family: @font-family-open-sans;
    padding-left: 0;
    padding-right: @pe-combined-view-panel__configure-btn--padding-right;
}

.pe-combined-view-panel__list-layout {
    color: @text-color-dark-blue;     
    font-size: @perso__default-text--font-size;
    padding: @pe-combined-view-panel__list-layout--padding;            
    border-bottom: 1px solid @border-color-light-grey;
    display: flex;
    justify-content: flex-start;
    &:hover {
        background-color: @techne__row--background-color--hover;
    }
}

.pe-combined-view-panel--disabled {
    opacity: @opacity_point-five;
    .pe-combined-view-panel__list-layout {
        cursor: default;
        &:hover {
            background-color: @background-color-white;
        }
    }
}

.pe-combined-view-panel-list__letter-layout {
    width: 15%;
}

.pe-combined-view-panel-list__names-layout {
    width: 78%;
    text-align: left;
    padding-left: @pe-combined-view-panel-list__names-layout--padding-left;
}

.pe-combined-view-panel-list__icon {
    align-self: center;
    width: 5%;
    padding-left: @pe-combined-view-panel-list__icon--padding-left;
}

.pe-combined-view-panel-list__item--highlighted {
    background-color: @techne__row--background-color--selected;
    color: @white;
    &:hover {
        background-color: @techne__row--background-color--selected;
    }
    .perso__globe-icon {
        color: @white;
    }
}