@perso__cc-icon--margin-left: -0.25*@perso-gutter;      //-5px

/* STATUS STYLING
 */
.perso__status--enabled {
    color: @text-color-green;
}
 
.perso__status--ignore,
.perso__status--disabled {
    color: @text-color-grey;
}

.select2-highlighted {
    .perso__status--enabled, .perso__status--disabled, .perso__status--ignore {
        color: @white;
    }
}

/* SCROLLZONES, SCROLLBAR STYLING
/* manage library, multi-segments, ... 
*/
.perso__scrollzone {
    position: fixed;
    z-index: 10000;
    left: 0;
    width: 100%;
    height: 10%;
}

.perso__scrollzone--normal {
    background-color: @background-color-grey;
}
  
.perso__scrollzone--transparent {
    background-color: transparent;
} 
 
.perso__scrollzone--top {
    top: 0;
}
 
.perso__scrollzone--bottom {
    bottom: 0;
}

.perso__scrollbar--hidden {
    -ms-overflow-style: none; // IE 10+
    &::-webkit-scrollbar {
        display: none; // Safari and Chrome
    }
}

/* FULLSCREEN MODALS STYLING
/* manage library, multi-segments, ...
*/
.modal-fullscreen {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    .modal-header .close {
        //reset it to original value, not the new one from SE
        margin-right: @perso-gutter;    //20px
    }
}

.modal-fullscreen > .modal-content {
    height: auto;
    min-height: 100%;
    border-radius: 0;
    background-color: @background-color-light-grey1;
}

/* TREE STYLING
/* manage library, customize view, ...
*/
.perso-tree__status {
    font-size: @perso__sm-text--font-size;
    text-transform: uppercase;
    font-weight: @font-weight-bold;
}
 
.perso-tree__dates-layout {
    font-size: @perso__sm-text--font-size;
}

.perso-tree__primary-data {
    font-weight: @font-weight-semibold;
 }
 
 /* LABEL STYLING
 /* all non-required labels in personalization use this class
 */
.personalization-modal__label {
    font-size: @perso__label--font-size;
    font-weight: @font-weight-bold;
}

/* ICONS STYLING
/* commerce customization icon, globe icon, ...
*/
.perso__cc-icon {
    margin-left: @perso__cc-icon--margin-left;      //-5px;
    vertical-align: middle;
    color: @light-grey;
    &:before {
        font-size: @perso__cc-icon--font-size;
    }
}

.perso__globe-icon {
    color: @light-grey;
    &:before {
        font-size: @perso__globe-icon--font-size;
    }
}

.perso__cc-icon--hidden {
    visibility: hidden;
}

/* HELPERS
*/
.perso-wrap-ellipsis {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.perso__item-name {
    font-size: @techne__tooltip-inner--font-size;
    font-weight: @font-weight-semibold;
}

.perso__wrapper-description {
    font-size: @techne__tooltip-inner--font-size;
    font-family: @font-family-open-sans;
}

/* HELP MESSAGES STYLING
*/
.perso__page-level-help-message {
    font-size: @perso__default-text--font-size;
    font-style: italic;
    color: @text-color-grey;
}