/* *
/* This file includes the styles used in the Customization Modal, sliding panel
*/

@sliderpanel-footer--padding-top: 0.75*@perso-gutter;   //15px

.pe-customization-modal__sliderpanel {
    font-size: @perso__default-text--font-size;

    .form-group {
        margin-bottom: @pe-customization-modal__form-group--margin-bottom;     //30px
    }

    // ie/edge fix for the reset x when the user starts typing in the search input of an ui-select
    .select2-input::-ms-clear {
        display: none !important;
        width: 0 !important;
        height: 0 !important;
    }
}

.sliderpanel-body {
    overflow: auto;
}

.sliderpanel-footer {
    padding-top: @sliderpanel-footer--padding-top;      //15px
}

.pe-customization-modal__sliderpanel__btn-layout {
    display: flex;
    justify-content: flex-end;
}

.pe-customization-modal__sliderpanel__btn-link {
    font-weight: @font-weight-semibold;
    font-family: @font-family-open-sans;
    padding: 0;
}

.pe-customization-modal__expression-text {
    font-weight: @font-weight-bold;
}

.sliderPanelParentModal.modal-fullscreen #y-modal-dialog {
    height: 100vh;
}