@perso__component-decorator--border-size: 5px;
@perso__component-decorator-icon--font-size: 22px;
@perso__component-decorator-icon--icon-height: 42px;
@perso__component-decorator-icon--padding: 0.5*@perso-gutter 0.25*@perso-gutter;    //10px 5px
@perso-ctx__button-template--width: 305px;
@perso-ctx__button-template--margin: -0.5*@perso-gutter;    //-10px

.perso__component-decorator {
    border: @perso__component-decorator--border-size solid @blue;
}

.perso__component-decorator-icon {
    font-size: @perso__component-decorator-icon--font-size;    
    color: @white;
    &:before {
        padding: @perso__component-decorator-icon--padding;
        height: @perso__component-decorator-icon--icon-height;
        background-color: @blue;
        box-shadow: -1px 5px 12px -2px rgba(117, 117, 117, 0.44);   //consistent with SE
    }
}
.personalizationsmarteditCombinedViewComponentLightUp{
    position: absolute;
}

.personalization-ctx__icon:before {
    vertical-align: inherit;
}

.personalization-ctx__icon:hover {
    background: @background-color-white;
    color: @text-color-light-blue;
}

.perso-ctx__button-template {
    font-size: @perso__default-text--font-size;     //15px
    width: @perso-ctx__button-template--width;
    border: 1px solid @smartedit-grey13;
    border-top: none;
    border-left: none;
    margin: @perso-ctx__button-template--margin;     //-10px
    padding: @perso-gutter;         //20px
    box-sizing: content-box;
    box-shadow: 0 8px 12px fade(@black, 17.5%);     //consistency with SE, shared slot template
}