/* *
/* This file includes the styles used in the Customization Modal, sliding panel, user segments configuration
*/

@perso-segments-tree--gutter: 0.5*@perso-gutter;     //10px
@perso-segments-tree__dropdown--margin-left: -1*@perso-segments-tree--gutter;  //-10px
@perso-segments-tree__node-icon--padding-left: 0.5*@perso-segments-tree--gutter;    //5px

.perso-segments-tree__layout {
    background-color: @background-color-grey;
    border-left: 20px solid @border-color-light-grey1;
    border-top: 1px solid @border-color-light-grey1;
    border-right: 1px solid @border-color-light-grey1;
    border-bottom: 1px solid @border-color-light-grey1;
    margin-bottom: @perso-segments-tree--gutter;     //10px
    padding-right: @perso-segments-tree--gutter;     //10px
}

.perso-segments-tree__collapsed-container {
    border-left-color: @border-color-dark-grey;
}

.perso-segments-tree__empty-container .angular-ui-tree-placeholder {
    display: none;
}

.perso-segments-tree {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.perso-segments-tree__btn {
    padding-right: @perso-segments-tree--gutter;    //10px
}

.perso-segments-tree__container {
    padding: @perso-segments-tree--gutter 0;    //10px 0
}

.perso-segments-tree__empty-container-node {
    background-color: @background-color-white;
    border: 1px dashed @border-color-light-grey1;
    color: @text-color-very-light-grey;
    width: 100%;
    margin-bottom: @perso-segments-tree--gutter;    //10px
    padding: @perso-segments-tree--gutter 0;    //10px 0
    display: flex;
}

.perso-segments-tree__empty-container-node-text {
    margin: auto;
}

.perso-segments-tree__node-icon {
    font-size: @perso-segments-tree__node-icon--font-size;
    padding-left: @perso-segments-tree__node-icon--padding-left;    //5px
}

.perso-segments-tree__container-btn-icon {
    font-size: @perso-segments-tree__node-icon--font-size;
    padding-right: @perso-segments-tree--gutter;    //10px
    padding-left: 0;
}

.perso-segments-tree__node {
    margin-bottom: @perso-segments-tree--gutter;    //10px
    padding: @perso-segments-tree--gutter;      //10px
    background-color: @background-color-white;
    border: 1px solid @border-color-light-grey1;
    .angular-ui-tree-placeholder {
        margin: 0;
    }
}

.perso-segments-tree__container .angular-ui-tree-placeholder {
    margin: 0;
}

.perso-segments-tree__node-content,
.perso-segments-tree__node-content:hover {
    background-color: @background-color-white;
    color: inherit;
    font-weight: @font-weight-normal;
    border: none;
    flex: @flex-grow @flex-shrink auto;
}

.perso-segments-tree__node:hover .perso-segments-tree__actions,
.perso-segments-tree__container:hover .perso-segments-tree__actions {
    visibility: visible;
}

.perso-segments-tree__actions {
    display: inline-block;
    visibility: hidden;
    &:hover {
        text-decoration: none;
    }
}

.perso-segments-tree__toggle {
    display: inline-block;
}

.perso-segments-tree__dropdown {
    display: inline-block;
    margin-left: @perso-segments-tree__dropdown--margin-left;     //-10px
}

.perso-segments-tree__glyphicon {
    left: -17px;
    position: relative;
    color: @white;
    &:hover {
        opacity: @opacity_point-eight;
    }
}

.perso-segments-tree__angular-ui-tree-handle--empty {
    flex: @flex-grow @flex-shrink auto;
    border: none;
    background-color: transparent;
}

.angular-ui-tree-nodes .angular-ui-tree-nodes {
    padding-left: @perso-segments-tree--gutter;     //10px
}

@media (max-width: 600px) {
    .perso-segments-tree__container {
        flex-direction: column;
    }
}