@techne-back-to-top-button--font-size: 35px;
.sliderPanelParentModal input.form-control,
.sliderPanelParentModal textarea.form-control {
    border-radius: 0;
}

.perso-library__back-to-top-button {
    .back-to-top {
        font-size: @techne-back-to-top-button--font-size;
        color: @light-blue-grey;
        cursor: pointer;
        &:hover {
            color: @techne-back-to-top-button--color--hover;
        }
    }
    //for ie11 only
    &:hover {
        text-decoration: none;
    }
}