@se-toolbar-menu-ddlb--width: 780px;
@pe-toolbar-action__button--min-width: 104px;
@pe-toolbar-action__button-txt--font-size: 10px;
@pe-toolbar-item-context__btn-hyicon--min-width: 30px;
@pe-toolbar-item-context__btn-hyicon--padding: 0 0.25 * @perso-gutter 0 0; //0 5px 0 0
@pe-toolbar-item-context__hyicon--padding-left: 0.5 * @perso-gutter; //10px
@pe-toolbar-action__button-txt--margin-top: 3px; //5px
@pe-toolbar-item-context__btn-txt--height: 51px;
@pe-toolbar-item-context__btn-txt--max-width: 230px;
@pe-toolbar-item-context__btn-txt--padding-top: 7px;
@pe-toolbar-item-context__btn-txt--padding-left: 0.75 * @perso-gutter; //15px
@pe-toolbar-item-context__btn-txt--font-size: 13px;
@pe-toolbar-item-context__btn-txt--margin-top: 0.25 * @perso-gutter; //5px
@pe-toolbar-item-context__btn--padding: 4px 5px 3px 5px;
@pe-toolbar-item-context__btn--margin-right: -3px;
@pe-toolbar-action__button: 5px 5px 4px 5px;

.pe-toolbar-action {
    box-shadow: none;
    height: 100%;
    position: relative;
    border-right: 1px solid @smartedit-grey43;
    border-radius: 0;
}

.pe-toolbar-action.open .pe-toolbar-action__button-txt {
    color: @white;
}

.pe-toolbar-action__button {
    padding: @pe-toolbar-action__button;
    min-width: @pe-toolbar-action__button--min-width;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
}

.open .dropdown-toggle.pe-toolbar-action__button {
    box-shadow: none;
}

.pe-toolbar-action__button:hover,
.pe-toolbar-action__button:focus,
.pe-toolbar-action__button:active,
.pe-toolbar-action__button:hover:active,
.pe-toolbar-action__button,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:focus,
.pe-toolbar-item-context__btn:active {
    background-color: @white;
    color: @blue;
    box-shadow: none;
    outline: none;
    outline-offset: 0;
}

.pe-toolbar-action--include {
    background-color: @background-color-white;
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
}

.pe-toolbar-action.open .pe-toolbar-action__button {
    background-color: @background-color-blue;
    opacity: @opacity_one;
}

.pe-toolbar-action.open .pe-toolbar-action__button:hover,
.pe-toolbar-action.open .pe-toolbar-action__button:active,
.pe-toolbar-action.open .pe-toolbar-action__button:focus {
    background-color: @background-color-blue;
    color: @white;
    opacity: 1;
    border-right: 1px solid transparent;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
}

.pe-toolbar-action__button:hover,
.pe-toolbar-action__button:active,
.pe-toolbar-action__button:focus {
    opacity: @opacity_point-six;
}

.pe-toolbar-action.open .pe-toolbar-action__button {
    border-top: 1px transparent;
    border-bottom: 1px transparent;
    border-right: none;
}

.pe-toolbar-menu-ddlb__button-icon {
    font-size: @se-toolbar-menu-ddlb__button-icon--font-size;
    &:before {
        display: block;
    }
}

.pe-toolbar-menu-content {
    margin: 0;
    border: none;
    padding: 0;
    width: @se-toolbar-menu-ddlb--width;
    cursor: initial;
}

.pe-toolbar-action__button-txt {
    display: block;
    font-family: @font-family-open-sans;
    font-size: @pe-toolbar-action__button-txt--font-size;
    font-weight: @font-weight-semibold;
    margin-top: @pe-toolbar-action__button-txt--margin-top;
}

.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn-hyicon,
.pe-toolbar-item-context__btn-hyicon:hover,
.pe-toolbar-item-context__btn-hyicon:active,
.pe-toolbar-item-context__btn-hyicon:active:hover {
    background-color: @white;
    color: @blue;
    box-shadow: none;
}

.pe-toolbar-item-context {
    display: inline-flex; //fix for small screens layout
    align-items: center;
    justify-content: flex-start;
    .hyicon {
        font-size: @pe-toolbar-item-context__hyicon-remove--font-size;
        padding-left: @pe-toolbar-item-context__hyicon--padding-left;
        &:hover {
            opacity: @opacity_point-six;
        }
    }
}

.pe-toolbar-item-context__btn-hyicon {
    min-width: @pe-toolbar-item-context__btn-hyicon--min-width;
    padding: @pe-toolbar-item-context__btn-hyicon--padding;
}

.pe-toolbar-item-context__btn,
.pe-toolbar-item-context__btn:hover,
.pe-toolbar-item-context__btn:active,
.pe-toolbar-item-context__btn:hover:active,
.pe-toolbar-item-context__btn:focus {
    border-right: 0 none;
    margin-right: @pe-toolbar-item-context__btn--margin-right;
    background: @toolbar-context-border-image no-repeat;
    cursor: default;
    opacity: @opacity_one;
    padding: @pe-toolbar-item-context__btn--padding;
}

.pe-toolbar-item-context__btn-title {
    font-weight: @font-weight-semibold;
    text-align: left;
}

.pe-toolbar-item-context__btn-subtitle {
    text-align: left;
}

.pe-toolbar-item-context__btn-txt {
    height: @pe-toolbar-item-context__btn-txt--height;
    max-width: @pe-toolbar-item-context__btn-txt--max-width;
    padding-top: @pe-toolbar-item-context__btn-txt--padding-top;
    padding-left: @pe-toolbar-item-context__btn-txt--padding-left;
    text-transform: capitalize;
    font-size: @pe-toolbar-item-context__btn-txt--font-size;
    margin-top: @pe-toolbar-item-context__btn-txt--margin-top;
}

.pe-combined-view-menu.open .pe-toolbar-item-context,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn,
.pe-combined-view-menu.open .pe-toolbar-item-context__btn-hyicon {
    background-color: @background-color-blue;
    color: @white;
}

.pe-combined-view-menu.open .pe-toolbar-action__button,
.pe-toolbar-action__button-with-context,
.pe-toolbar-action__button-with-context:hover,
.pe-toolbar-action__button-with-context:active,
.pe-toolbar-action__button-with-context:focus {
    border-right: none;
}
