/* *

/* Imports of the rest of personalization search styling
*/
.ps-search-profile__sel-tree {
  width: 100%;
}
.ps-search-profile__selection {
  margin-top: 25px;
}
.ps-search-profile__sel-profile,
.ps-search-profile__sel-profile:hover {
  font-size: 14px;
  font-weight: 400;
  color: #313440;
}
.ps-search-profile__sel-profile {
  border: none;
  background: transparent;
  padding-left: 16px;
  width: 90%;
  display: flex;
  align-items: center;
}
.ps-search-profile__sel-profile:hover {
  background-color: transparent;
}
.ps-search-profile__sel-menu {
  border: none;
  width: 10%;
}
.ps-control-label,
.ps-control-label__cust {
  font-weight: 700;
}
.ps-control-label__cust {
  position: absolute;
  bottom: -50px;
}
.ps-search-profile {
  margin-bottom: 45px;
}
.ps-search-profile__sel-tbody {
  width: 100%;
}
.ps-search-profile__sel-tree {
  border-collapse: separate;
}
.ps-search-profile__sel-tree-row-wrapper {
  display: flex;
  justify-content: space-between;
}
.ps-search-profile__sel-tree-row-wrapper {
  border-top: 1px solid #d4d7dc;
  border-left: 1px solid #d4d7dc;
  border-right: 1px solid #d4d7dc;
}
.ps-search-profile__sel-tree-row:last-of-type {
  border-bottom: 1px solid #d4d7dc;
}
.ps-search-profile__sel-tree-row:hover {
  background-color: #f4f6f7;
}
.ps-search-profile__sel-tree .angular-ui-tree-placeholder {
  border: 1px dashed #d4d7dc;
  margin: 0;
}
