@import '/home/wellington/projetos/warmup/challenge/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/cockpitng/cng/scss/cockpitng-globals.scss';
@import '/home/wellington/projetos/warmup/challenge/hybris/bin/ext-backoffice/backoffice/resources/backoffice/generated/backoffice/scss/backoffice-variables.scss';

.yw-editorarea-tabbox-tabpanels .yw-editorarea-password-match-validation {
  color: #ff3b30;
  margin-top: 0;
  margin-bottom: 0;
}