/* TODO: This is just an initial CSS styling! It should be adjusted by the UI team! */
.yw-product-stats-container {
  overflow: hidden;
  width: auto;
  height: auto;
  box-shadow: 0 1px 2px rgba(111, 124, 145, 0.58); }
  .yw-product-stats-container-main {
    overflow: hidden;
    background-color: #ffffff;
    height: 404px; }
  .yw-product-stats-container-charts-wrapper {
    float: left;
    width: 80%;
    text-align: center; }
    .yw-product-stats-container-charts-wrapper .highcharts-container.z-charts {
      width: 100% !important; }
      .yw-product-stats-container-charts-wrapper .highcharts-container.z-charts > .highcharts-root {
        width: 100% !important; }
  .yw-product-stats-container-right-pane {
    float: left;
    text-align: center;
    width: 20%;
    padding-top: 6%;
    padding-left: 1%;
    padding-right: 1%;
    position: relative;
    z-index: 1;
    line-height: 350%; }
    .yw-product-stats-container-right-pane button.ye-text-button {
      float: left;
      width: 100%;
      cursor: pointer;
      color: #0586e0;
      text-transform: none;
      margin-bottom: 5px; }
    .yw-product-stats-container-right-pane .yw-product-stats-total-count {
      float: left;
      width: 100%;
      margin-bottom: 15px;
      border-bottom: 1px solid #acacac;
      color: #151c22; }
    .yw-product-stats-container-right-pane .yw-product-stats-chart-info-value {
      display: block;
      font-size: 34px;
      font-weight: bold; }
    .yw-product-stats-container-right-pane .yw-product-stats-chart-info-label {
      font-size: 13px; }
  .yw-product-stats-container-bottom-pane {
    float: left;
    width: 100%; }
    .yw-product-stats-container-bottom-pane .yw-product-stats-chart-info-container {
      width: 100%;
      min-height: 85px;
      height: 85px;
      display: table;
      padding: 10px;
      text-align: center;
      background-color: rgba(127, 144, 165, 0.2); }
      .yw-product-stats-container-bottom-pane .yw-product-stats-chart-info-container .yw-product-stats-chart-info-container-wrapper {
        width: 33.33%;
        float: left; }
        .yw-product-stats-container-bottom-pane .yw-product-stats-chart-info-container .yw-product-stats-chart-info-container-wrapper .yw-product-stats-chart-info-value {
          display: block;
          font-size: 34px;
          font-weight: bold; }
        .yw-product-stats-container-bottom-pane .yw-product-stats-chart-info-container .yw-product-stats-chart-info-container-wrapper .yw-product-stats-chart-info-label {
          font-size: 13px; }
