.yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar {
  padding: 10px 0 40px;
  margin: 0 30px;
  position: relative;
  border-bottom: none; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar:after {
    content: '';
    position: absolute;
    left: 0;
    width: 100%;
    height: 1px;
    background: #d5d8dc;
    bottom: 30px; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-pagination {
    display: block;
    float: left;
    margin-top: 15px; }
    .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-pagination .z-paging {
      background-color: transparent; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-result-count {
    display: block;
    float: left;
    margin-top: 20px; }
  .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-selectors {
    display: block;
    float: right; }
    .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-selectors .yas-page-size-selector {
      display: inline-block; }
    .yw-de_hybris_platform_adaptivesearch_widgets_searchResultBrowser .yas-navigation.y-toolbar .yas-selectors .yas-sort-selector {
      display: inline-block; }

.yas-results-header {
  background: #e5e9ed;
  color: #e5e9ed;
  padding: 0 30px; }
  .yas-results-header,
  .yas-results-header .z-label {
    font-size: 6px; }
  .yas-promoted-results .yas-results-header, .yas-navigation + .yas-default-results .yas-results-header {
    display: none; }

.yas-results-body {
  width: 100%; }

.yas-promoted-results .yas-result {
  background: #ffffff; }

.yas-result {
  display: table;
  width: 100%;
  color: #000000;
  background-color: #ffffff;
  /* will probably be implemented
   &:not(.yas-from-search-profile):not(.yas-from-search-configuration),
   &.yas-from-search-profile.yas-from-search-configuration.yas-override:not(.yas-override-from-search-profile) {
       .z-hlayout-inner:first-child:after {
           content: '';
           display: block;
           position: absolute;
           top: 0;
           left: 0;
           height: 7px;
           width: 6px;
           background: url("images/icon_appendix_external-profile.png") no-repeat;
           background-color: white;
       }
   }*/ }
  .yas-result + .yas-result .yas-result-inner > div {
    border-top: 1px solid #cccccc; }
  .yas-result.z-drag-over {
    background-color: #e1f3ff; }
  .yas-result.yas-highlighted.z-drag-ghost, .yas-result.z-drag-ghost {
    width: 700px;
    border: 1px solid #cccccc; }
  .yas-result.yas-highlighted {
    background-color: #f2f9fd; }
    .yas-result.yas-highlighted.z-drag-over {
      background-color: #e5f4ff; }
    .yas-result.yas-highlighted .yas-info .yas-info-score {
      background-color: rgba(255, 255, 255, 0.4); }
  .yas-results-body .yas-result.z-dragged {
    opacity: 0.7; }
  .yas-result-title {
    font-weight: bold;
    font-size: 16px; }
  .yas-result-price {
    font-weight: bold;
    font-size: 16px; }
  .yas-result .yas-info {
    display: table-cell;
    vertical-align: middle;
    text-align: center;
    width: 80px; }
    .yas-result .yas-info .yas-info-icon {
      height: 23px;
      width: 23px;
      margin-left: auto;
      margin-right: auto;
      background-image: url(images/icon_func_star_sprite.png);
      background-repeat: no-repeat;
      background-position: 0 -69px;
      background-attachment: scroll; }
    .yas-result .yas-info .yas-info-score {
      font-size: 12px; }
  .yas-result.yas-promoted .yas-info .yas-info-icon {
    background-position: -28px -69px; }
    .yas-default-results .yas-result.yas-promoted .yas-info .yas-info-icon {
      top: -5px;
      margin-top: -5px;
      position: relative; }
      .yas-default-results .yas-result.yas-promoted .yas-info .yas-info-icon:only-child {
        position: static;
        margin-top: 0; }
  .yas-result.yas-promoted.yas-from-search-configuration .yas-info .yas-info-icon {
    background-position: 0 -69px; }
  .yas-result.yas-promoted.yas-from-search-configuration.yas-override .yas-info .yas-info-icon {
    width: 33px;
    height: 25px;
    background-position: -57px -65px; }
  .yas-result-inner {
    display: table-row; }
    .yas-result-inner .yas-content {
      display: table-cell;
      padding: 10px 4px 15px; }
      .yas-result-inner .yas-content > .z-hlayout > .z-hlayout-inner {
        vertical-align: middle; }
      .yas-result-inner .yas-content > .z-hlayout > .z-hlayout-inner:nth-child(2) {
        width: calc(100% - (80px + 3px + 50px + 4px + 4px)); }
    .yas-result-inner .yas-actions {
      display: table-cell;
      vertical-align: middle;
      width: 50px;
      padding: 4px; }
      .yas-result-inner .yas-actions .z-button {
        background: transparent;
        color: #0486e0;
        font-size: 20px; }
        .yas-result-inner .yas-actions .z-button[disabled] {
          background: transparent !important; }
        .yas-result-inner .yas-actions .z-button:active, .yas-result-inner .yas-actions .z-button:focus {
          box-shadow: none; }

.search-results-highlight {
  font-weight: bold; }
