
/****************************************************
				configuration
****************************************************/
.y-se-add-key-value__button {
	font-family: @font-open-sans;
	font-size: 17px;
	font-weight: bold;
	background-color: @smartedit-grey16;
	margin: .4*@smartedit-gutter 0;
}

.ySECfgEntity__remove-button {
	width: 50px;
}

.ySECfgEntity__data {
	width: calc(~"100% - 50px");
}

.ySECfgEntity__key,
.ySECfgEntity__data,
.ySECfgEntity__data {
	overflow: auto;
}

.ySECfgEntity__key,
.ySECfgEntity__data {
	padding: .2*@smartedit-gutter 0;
}

.ySECfgEntity {
	.hyicon {
		font-size: 20px;
	}
	display: flex;
	justify-content: space-between;
}

.y-se-add-key-value__label {
	font-weight: @font-weight--bold;
	padding: .4*@smartedit-gutter 0 .2*@smartedit-gutter;
}

.ySECfgEntity textarea {
	resize: both;
	overflow: auto;
	height: 4em;
}

.warning-check-msg {
	font-family: @font-open-sans;
	font-size: 13px;
	font-weight: bold;
}

.not-checked {
	color: @smartedit-red;
}

.confirmation-modal {
	z-index: 1060;
}

.ySECfgEntity__textarea,
.ySECfgEntity__input {
	border-radius: 0;
}

.y-se-add-key-value__button {
	font-family: @font-open-sans;
	font-size: 17px;
	font-weight: bold;
	background-color: @smartedit-grey16;
	margin: .4*@smartedit-gutter 0;
}

.ySECfgEntity__remove-button {
	width: 50px;
}

.ySECfgEntity__data {
	width: calc(~"100% - 50px");
}

.ySECfgEntity__key,
.ySECfgEntity__data,
.ySECfgEntity__data {
	overflow: auto;
}

.ySECfgEntity__key,
.ySECfgEntity__data {
	padding: .2*@smartedit-gutter 0;
}

.ySECfgEntity {
	.hyicon {
		font-size: 20px;
	}
	display: flex;
	justify-content: space-between;
}

.y-se-add-key-value__label {
	font-weight: @font-weight--bold;
	padding: .4*@smartedit-gutter 0 .2*@smartedit-gutter;
}

.ySECfgEntity textarea {
	resize: both;
	overflow: auto;
	height: 4em;
}

.warning-check-msg {
	font-family: @font-open-sans;
	font-size: 13px;
	font-weight: bold;
}

.not-checked {
	color: @smartedit-red;
}

.confirmation-modal {
	z-index: 1060;
}

.ySECfgEntity__textarea,
.ySECfgEntity__input {
	border-radius: 0;
}