
/****************************************************
				left-menu
****************************************************/
@se-left-nav__section__list-item--padding: .5*@smartedit-gutter 0 .5*@smartedit-gutter @smartedit-gutter;
@se-left-nav__section--top__language--margin: .7*@smartedit-gutter .4*@smartedit-gutter 0 0;
@se-left-nav__section--level1-hide--margin-left: -200px;
@se-left-nav__section--level1--transition: margin-left 0.5s, opacity 0.7s;
@se-left-nav__section--level2-hide--margin-left: 320px;
@se-left-nav__section--level2-hide--top: 250px;
@se-left-nav__section--level2--top: 215px;
@se-left-nav__section--level2--transition: margin-left 0.5s, opacity 0.7s;
@se-menu-button__toggle--margin: .4*@smartedit-gutter .5*@smartedit-gutter 0 .6*@smartedit-gutter;
@se-menu-button__toggle--padding: .1*@smartedit-gutter;
@se-menu-button__toggle--backgroung-color: @smartedit-blue;
@se-menu-button__toggle--color: @smartedit-white;
@se-menu-button__icon-bar--background-color: @smartedit-white;
@se-left-nav-hide--left: -20em;
@se-left-nav--font-size: 15px;
@se-left-nav--background-color: @smartedit-darkblue2;
@se-left-nav--font-family: @font-open-sans;
@se-left-nav--width: 20em;
@se-left-nav--z-index: 1002;
@se-left-nav--transition: left 0.3s ease-in-out 0s;
@se-left-nav__link--font-size: 16px;
@se-left-nav__link--color: @smartedit-grey2;
@se-left-nav__link--opacity: .6;
@se-left-nav__link--font-weight: @font-weight--medium;
@se-left-nav__link-hover--opacity: .8;
@se-sign-out__link--color: @smartedit-grey2;
@se-sign-out__link--font-weight: @font-weight--book;
@se-sign-out__link--padding-left: .4*@smartedit-gutter;
@se-left-nav__section--top__item--padding-left: .6*@smartedit-gutter;
@se-user-name--color: @smartedit-grey2;
@se-user-name--opacity: 0.8;
@se-user-name--font-size: 16px;
@se-user-name--font-weight: @font-weight--book;
@se-user-name--padding-left: .4*@smartedit-gutter;
@se-left-nav__section__close--padding-top: .4*@smartedit-gutter;
@se-left-nav__section--top--border-bottom: 1px solid @smartedit-darkblue;
@se-left-nav__section--top--padding-bottom: .7*@smartedit-gutter;
@se-left-nav__section__close--link--font-size: 18px;
@se-left-nav__section__close--link--padding: .6*@smartedit-gutter 0 0 .6*@smartedit-gutter;
@se-left-nav__section__close--link--margin-right: 32px;
@se-left-nav__section__close--link--color: @smartedit-grey27;
@se-left-nav__section--top__language--color: @smartedit-grey4;
@se-left-nav__section--top__language--background-color: @smartedit-white;

.se-left-nav__section--level1.ng-hide {
	margin-left: @se-left-nav__section--level1-hide--margin-left;
	opacity: 0;
}

.se-left-nav__section--level1 {
	transition: @se-left-nav__section--level1--transition;
}

.se-left-nav__section--level2.ng-hide {
	margin-left: @se-left-nav__section--level2-hide--margin-left;
	position: absolute;
	opacity: 0;
	top: @se-left-nav__section--level2-hide--top;
}

.se-left-nav__section--level2 {
	margin-left: 0;
	position: absolute;
	top: @se-left-nav__section--level2--top;
	opacity: 1;
	transition: @se-left-nav__section--level2--transition;
}

.se-menu-button__toggle {
	display: inline-block;
	margin: @se-menu-button__toggle--margin;
	padding: @se-menu-button__toggle--padding;
	border-radius: 0;
	background: @se-menu-button__toggle--backgroung-color;
	color: @se-menu-button__toggle--color;
	border: none;
}

.se-menu-button__icon-bar {
	background-color: @se-menu-button__icon-bar--background-color;
}

.se-left-nav.ng-hide {
	left: @se-left-nav-hide--left;
}

.se-left-nav {
	font-family: @se-left-nav--font-family;
	overflow: hidden;
	background: @se-left-nav--background-color;
	display: block;
	height: 100%;
	overflow: auto;
	position: fixed;
	font-size: @se-left-nav--font-size;
	left: 0;
	top: 0;
	width: @se-left-nav--width;
	z-index: @se-left-nav--z-index;
	transition: @se-left-nav--transition;
}

.se-left-nav__link {
	font-size: @se-left-nav__link--font-size;
	color: @se-left-nav__link--color;
	opacity: @se-left-nav__link--opacity;
	font-weight: @se-left-nav__link--font-weight;

	&:hover,
	&:focus {
		text-decoration: none;
		opacity: @se-left-nav__link-hover--opacity;
		color: @se-left-nav__link--color;
	}
}

.se-sign-out__link {
	.se-left-nav__link;
	color: @se-sign-out__link--color;
	font-weight: @se-sign-out__link--font-weight;
	padding-left: @se-sign-out__link--padding-left;
}

.se-left-nav__section--top__item {
	padding-left: @se-left-nav__section--top__item--padding-left;
	.text-left();
}

.se-user-name {
	color: @smartedit-grey2;
	opacity: @se-user-name--opacity;
	font-size: @se-user-name--font-size;
	font-weight: @se-user-name--font-weight;
	padding-left: @se-user-name--padding-left;
}

.se-left-nav__section__close {
	padding-top: @se-left-nav__section__close--padding-top;
	.text-right();
}

.se-left-nav__section--top {
	margin-bottom: 0;
	border-bottom: @se-left-nav__section--top--border-bottom;
	padding-bottom: @se-left-nav__section--top--padding-bottom;
}

.se-left-nav__section {
	padding-left: 0;
	list-style: none;
}

.se-left-nav__section__list-item {
	padding: @se-left-nav__section__list-item--padding;
}

.se-left-nav__section__close--link {
	padding: @se-left-nav__section__close--link--padding;
	font-size: @se-left-nav__section__close--link--font-size;
	margin-right: @se-left-nav__section__close--link--margin-right;
	color: @se-left-nav__section__close--link--color;
	&:hover, &:active, &:focus {
		color: @se-left-nav__section__close--link--color;
	}
}

.se-left-nav__section--top__language {
	margin: @se-left-nav__section--top__language--margin;
	display: block;
	background-color: @se-left-nav__section--top__language--background-color;
	color: @se-left-nav__section--top__language--color;
}
