

/****************************************************
				login modal
****************************************************/

.se-login-modal {
	height: 100%;
	background: @smartedit-grey47;
	> .modal-dialog {
		overflow: hidden;
		padding: 0;
		margin: 0;
		height: 100%;
		width: 100%;
		.modal-content {
			border: 0;
		}
		.modal-body {
			padding: 0;
		}
	}
	//IE Fallback
	.modal-content,
	#y-modal-dialog,
	.modal-body,
	.modal-body > div{
		height: 100%;
	}
}

.se-login {
	font-family: @font-open-sans;
	background: linear-gradient(@default-blue, @smartedit-blue5);
	color: @white;
	display: flex;
	align-items: center;
	background: @smartedit-grey47;
	height: 100%;
}

.se-login--wrapper {
	padding: 35px 50px;
	background: @smartedit-white;
	margin: 0 auto;

	width: 565px;
}

.se-login--form {
	padding-top: 10px;
}

.se-login--form-group {
	margin-bottom: 20px;
}

.se-login--form-control {
	background: @smartedit-white;
	border-radius: 4px;
	border: solid 1px @smartedit-grey48;
	color: @smartedit-black3;
	font-family: @font-sap-72;

	height: 46px;
	padding: 10px 16px;
	font-size: 15px;
	line-height: 1.33;
	box-shadow: none;
	display: block;
	width: 100%;

	&::placeholder{
		color:@smartedit-black3;
	}
	&::-webkit-input-placeholder { /* WebKit browsers */
		color:@smartedit-black3;
	}
	&:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		color:@smartedit-black3;
		opacity: 1;
	}
	&::-moz-placeholder { /* Mozilla Firefox 19+ */
		color:@smartedit-black3;
		opacity: 1;
	}
	&:-ms-input-placeholder { /* Internet Explorer 10+ */
		color:@smartedit-black3;
	}
}

.se-login--logo-wrapper {
	display: flex;
    justify-content: flex-start;
    align-items: center;
	&.se-login--logo-wrapper_full {
		padding-bottom: 30px;
	}
}

.se-login--logo {
	height:64px;
}

.se-login--logo-text{
	font-family: @font-sap-72;
	padding-left: 16px;
	font-size:36px;
	color: @smartedit-black;
	font-weight: @font-weight--bold;
}

.se-login--auth-message {
	color:@smartedit-black;
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 16px;
	font-family: @font-sap-72;
}

.se-login--alert-error {
	margin-bottom: 0;
	box-shadow: none;
	background-color: @smartedit-red2;
	border-color: @smartedit-white;
}

.se-login-language {
	padding-left: 0;
	padding-right: 0;
	text-transform: uppercase;
	color: @smartedit-grey4;

	.select2-container .select2-choice,
	.select2-container .select2-choices,
	.select2-container .select2-choices
	.select2-search-field input {
		display: block;
		font-family: @font-open-sans;
		text-decoration: none;                     
	}
	.js-example-placeholder-single {
		padding-left: 0;
		padding-right: 0;
		font-family: @font-open-sans;
	}
	.select2-drop {
		border-radius: 0;
		color: @smartedit-grey4;
	}
	.select2-results {
		padding: 0;
		margin: 0;
		font-size: 15px;

		.select2-highlighted {
			background-color: @smartedit-grey37;
			color: @smartedit-grey4;
		}
		.select2-result-label {
			padding: 7px 7px 7px 14px;
		}
	}
	.select2-default {
		display: block;                             
		color: @smartedit-grey4 !important; 
		font-weight: normal;
	}
}

.se-login--btn {
	font-weight: normal;
	margin-top: 30px;
	text-transform: uppercase;
	font-size: 22px;
	font-family: @font-sap-72;
	background: @smartedit-lightblue;
	border: 0;
	box-shadow: none;
	margin-bottom: 35px;
	color: @smartedit-white;
	&:hover,
	&:focus,
	&:active:hover,
	&:focus,
	&:active:focus,
	&:active{
		color: @smartedit-white;
		background-color: @smartedit-blue17;
		box-shadow: none;
		border: 0;
	}
}