@missing-primary-content-page-message__label--padding: .2*@smartedit-gutter;

.missing-primary-content-page-message__label {
    font-style: italic;
    padding-bottom: @missing-primary-content-page-message__label--padding;
    display: block;
}