@delay: 500ms;
@height0: 100%;
@slider-panel-background: fade(@smartedit-black, 50%);
@width0: 100%;


.sliderpanel-container {

	display: block;
	overflow: hidden;
	position: absolute;
	transition: background-color @delay ease;

	.sliderpanel-content {

		background: @smartedit-white;
		box-sizing: border-box;
		display: flex;
		flex-direction: column;
		position: absolute;
		transition: all @delay ease;

		&.sliderpanel--slidefromleft {
			height: @height0;
			left: -100%;
			top: 0;
		}
		&.sliderpanel--slidefromright {
			height: @height0;
			right: -100%;
			top: 0;
		}
		&.sliderpanel--slidefrombottom {
			bottom: -100%;
			left: 0;
			width: @width0;
		}
		&.sliderpanel--slidefromtop {
			left: 0;
			top: -100%;
			width: @width0;
		}

	}

}

// animated
.sliderpanel--animated .sliderpanel-container {

	background-color: @slider-panel-background;

	.sliderpanel--slidefromtop {
		box-shadow: 0px 5px 10px 0px @modal-content-border-color;
		top: 0;
	}
	.sliderpanel--slidefrombottom {
		box-shadow: 0px -5px 10px 0px @modal-content-border-color;
		bottom: 0;
	}
	.sliderpanel--slidefromleft {
		box-shadow: 5px 0px 10px 0px @modal-content-border-color;
		left: 0;
	}
	.sliderpanel--slidefromright {
		box-shadow: -5px 0px 10px 0px @modal-content-border-color;
		right: 0;
	}
}

.sliderpanel--animated .sliderpanel--noGreyedOutOverlay{
	background-color: transparent;
}

.btn-sliderpanel__close{
	margin-right: 0;
	position: absolute;
	right: @smartedit-gutter;
	top: .6*@smartedit-gutter;
	cursor: pointer;
	background: transparent;
	padding: 0;
	border: 0;
	-webkit-appearance: none;
	color: @default-close-grey;
	font-weight: @font-weight--normal;
	font-size: 25px;
}

.sliderpanel-footer {
	border-top: 1px @smartedit-grey22 solid;
	background-color: @modal-content-bg;
	flex-grow: 0;
	padding: .2*@smartedit-gutter @smartedit-gutter;
	text-align: right;
}

.sliderpanel-body {
	flex-grow: 1;
	padding: .6*@smartedit-gutter @smartedit-gutter;
	overflow-y: scroll;
}

.modal-footer{
	text-align: right;
}

.h4__sliderpanel{
	font-family: @font-open-sans;
	font-size:  28px;
	margin: 0;
}

.sliderpanel-header {
	padding-right: @smartedit-gutter;
	padding-left: @smartedit-gutter;
	padding-top: .7*@smartedit-gutter;
	padding-bottom: .5*@smartedit-gutter;
	border-bottom: 1px @smartedit-grey22 solid;
	font-family: @font-open-sans;
	font-size: 28px;
	color: @dark-blue-1000;
	font-weight: @font-weight--book;
	display: block;
	flex-grow: 0;
	margin: 0;
}

.sliderpanel-footer__button{
	font-size: 18px;
}