
/****************************************************
				techne overrides
****************************************************/
//newer techne styling

@se-modal__header-title--font-size: 28px;
@se-modal__header-title--padding-bottom: 4px;
@se-modal__header--padding: .7*@smartedit-gutter @smartedit-gutter .4*@smartedit-gutter @smartedit-gutter;
.modal-dialog .modal-footer,
.ySEGenericEditor .modal-footer {
	padding: 0 0 2px 0;
}

experience-selector .ySEGenericEditor .modal-footer {
	padding-bottom: 0;
	margin-top: 95px; //in order to show full datepicker
	border-top: 1px solid fade(@smartedit-white, 35%);
}

.modal-dialog .modal-footer > span,
.ySEGenericEditor .modal-footer > span {
	display: inline-block;
}

.modal-dialog .modal-footer .btn,
.ySEGenericEditor .modal-footer .btn {
	font-size: 22px;
	font-family: @font-open-sans;
	font-weight: @font-weight--normal;
	padding: 20px 50px 20px 50px;
}

.modal-dialog .modal-footer {
	border-top: 1px solid @smartedit-grey22;
	background: inherit;
}

.modal-dialog .modal-header .hyicon.hyicon-close {
	color: @default-greyblue;
	font-size: 25px;
}

.modal-dialog .modal-header .close {
	margin-top: -9px;
	margin-right: 0;
}

.se-modal__header-title {
	font-family: @font-open-sans;
	font-size: @se-modal__header-title--font-size;
	padding-bottom: @se-modal__header-title--padding-bottom;
	margin: 0;
}

.se-modal__header {
	padding: @se-modal__header--padding;
	background: inherit;
	border-bottom: 1px solid @smartedit-grey22;
}

experience-selector .ySEGenericEditor form {
	padding-right: 0;
}

experience-selector .ySEGenericEditor .btn-subordinate {
	color: @white;
}

.overlay {
	position: absolute;
	z-index: 300
}

select, option {
	color: @black;
}

.form-control {
	height: auto;
}

.alert-overlay {
	position: fixed;
	z-index: 1091;
	left: 0;
	right: 0;
	margin: 48px 20% 8px;
}

.alert-item {
	margin-bottom: 0;
	padding: 15px;
	&.alert-item--closeable {
		padding-right: 50px;
	}
	> .close {
		font-size: 30px;
		top: 2px;
		right: -25px;
		margin-right: 0;
	}
	> div {
		display: flex;
		align-items: center;
	}
}

.alert-item:not(.alert-item--closeable) > .close {
	display: none;
}

.alert-item + .alert-item {
	margin-top: 20px;
}

.alert-item--icon {
	font-size: 36px;
	height: 36px;
	align-self: flex-start;
	margin-right: 15px;
	color: @smartedit-white;
}

.alert-item--icon-span {
	position: relative;
	top: -12px;
}

.ySEEmptyMessage {
	display: none;
}

/* Fix techne bug for dropdown template */
.ui-select-container a:hover {
	color: @gray !important;
}

.selectize-control > .selectize-dropdown {
	top: 36px;
}

.alert.alert-success {
	background-color: @smartedit-green1;
	border-color: @smartedit-green1;
	opacity: 0.95;
	.close {
		color: @white;
	}
}

.alert.alert-danger {
	background-color: @smartedit-red2;
	border-color: @smartedit-red2;
	opacity: 0.95;

	.close {
		color: @white;
	}
}

.alert.alert-info {
	background-color: @default-greyblue;
	border-color: @default-greyblue;
	opacity: 0.95;
	.close {
		color: @white;
	}
}

.alert.alert-warning {
	background-color: @smartedit-orange;
	border-color: @smartedit-orange;
	color: @black;
	opacity: 0.95;
}

.alert .close {
	color: @black;
}

.nav-tabs li a.sm-tab-error {
	color: @smartedit-red;
}

.nav-tabs li a.sm-tab-error:before {
	content: "! ";
}

button.close {
	margin-right: 20px;
}

div.synchronize {
	position: relative;
}

img.synchronize {
	position: absolute;
	right: 0;
	z-index: 500
}

.piled {
	margin-top: 0;
	margin-bottom: 0;
}

.clickable {
	cursor: pointer;
}

.toptoolbar {
	position: absolute;
	padding: 10px;
	margin-left: 60px;
	z-index: 100;
}

.floating-perspective {
	position: fixed;
	padding: 10px;
	left: 10px;
	z-index: 700;
}

.floating-bg {
	color: @white;
	border: 1px solid @white;
	background: @smartedit-bluegrey;
	padding: 5px 20px 0 20px;
}

.btn {
	font-family: @font-open-sans;
}

.help-control .hyicon-help-icon:before {
    &:extend(.hyicon-helpoff:before);
}

.help-control:hover .hyicon-help-icon:before {
    &:extend(.hyicon-helpon:before);
}

.y-add-btn__text {
	vertical-align: middle;
}