// toolbar menu
// Toolbar Menu with header and body

//.se-toolbar-menu-ddlb{
//	.se-toolbar-menu-ddlb--button{
//	}
//	.se-toolbar-menu-content{
//      .se-toolbar-menu-content--wrapper{
//		    .se-toolbar-menu-content--header{
//              .se-toolbar-menu-content--header__title{
//              }
//		    }
//		    .se-toolbar-menu-content--body{
//		    }
//		    .se-toolbar-menu-content--footer{
//		    }
//      }
//	}
//}
@se-toolbar-actionable-item-context--max-width: 271px;
@se-toolbar-actionable-context__btn--padding: 13px 0 13px .5*@smartedit-gutter;

@se-toolbar-menu-ddlb--width: 780px;

@se-toolbar-menu-content--header--background-color: @smartedit-lightblue;
@se-toolbar-menu-content--header__title--font-family: @font-open-sans;
@se-toolbar-menu-content--header__title--color: @smartedit-white;
@se-toolbar-menu-content--header__title--font-size: 19px;
@se-toolbar-menu-content--header__title--font-weight: @font-weight--book;
@se-toolbar-menu-content--padding: 0.5 * @smartedit-gutter @smartedit-gutter;
@se-toolbar-menu-content--color: @smartedit-white;

@se-toolbar-menu-ddlb--button__icon--font-size: 34px;

@se-toolbar-menu-ddlb--border: 1px transparent;

@se-toolbar-menu-ddlb--button--txt--margin-top: 4px;
@se-toolbar-menu-ddlb--button--txt--font-size: 10px;
@se-toolbar-menu-ddlb--button--min-width: 104px;
@se-toolbar-menu-ddlb--button--padding: 0.1 * @smartedit-gutter;

@se-toolbar-menu-content--body--max-height: 510px;

@toolbar-context-border-image: url('../../../images/toolbar-context-border.png');

@se-toolbar-page-info-wrapper__homepage-icon--padding-left: 0.1 * @smartedit-gutter;

@se-toolbar-page-info-wrapper__homepage-icon--font-size-line-height: 11px;

.se-toolbar-menu-ddlb:hover,
.se-toolbar-menu-ddlb:active,
.se-toolbar-menu-ddlb:focus {
    opacity: 1;
    border-right: none;
}

.se-toolbar-menu-ddlb.open .se-toolbar-menu-ddlb--button {
    border-top: @se-toolbar-menu-ddlb--border;
    border-bottom: @se-toolbar-menu-ddlb--border;
    background-color: @se-toolbar-menu-content--header--background-color;
    opacity: 1;
    border-right: none;
}

.se-toolbar-menu-ddlb.open .se-toolbar-menu-ddlb--button:hover,
.se-toolbar-menu-ddlb.open .se-toolbar-menu-ddlb--button:active,
.se-toolbar-menu-ddlb.open .se-toolbar-menu-ddlb--button:focus {
    background-color: @se-toolbar-menu-content--header--background-color;
    opacity: 1;
    border-right: none;
}

.se-toolbar-menu-ddlb--button {
    padding: @se-toolbar-menu-ddlb--button--padding;
    min-width: @se-toolbar-menu-ddlb--button--min-width;
    border-top: @se-toolbar-menu-ddlb--border;
    border-bottom: @se-toolbar-menu-ddlb--border;
}

.se-toolbar-menu-ddlb--button:hover,
.se-toolbar-menu-ddlb--button:focus,
.se-toolbar-menu-ddlb--button:active,
.se-toolbar-menu-ddlb--button:hover:active,
.se-toolbar-menu-ddlb--button {
    border-right: @smartedit-border1;
    background-color: @smartedit-grey;
    color: @smartedit-blue;
    box-shadow: none;
    outline: none;
    outline-offset: 0;
}

.se-toolbar-menu-ddlb--button:hover,
.se-toolbar-menu-ddlb--button:focus,
.se-toolbar-menu-ddlb--button:active,
.se-toolbar-menu-ddlb--button:hover:active {
    opacity: 0.6;
}

.se-toolbar-menu-ddlb--button--txt {
    font-family: @font-open-sans;
    font-size: @se-toolbar-menu-ddlb--button--txt--font-size;
    font-weight: @font-weight--semibold;
    text-transform: uppercase;
    margin-top: @se-toolbar-menu-ddlb--button--txt--margin-top;
    height: 18px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.se-toolbar-menu-ddlb.open .se-toolbar-menu-ddlb--button--txt {
    color: @smartedit-white;
}

.se-toolbar-menu-ddlb--button__icon {
    font-size: @se-toolbar-menu-ddlb--button__icon--font-size;
}

.se-toolbar-menu-ddlb--button__icon:before {
    display: block;
}

.se-toolbar-menu-content {
    margin: 0;
    border: none;
    padding: 0;
    width: @se-toolbar-menu-ddlb--width;
    cursor: initial;
}

.se-toolbar-menu-content--header {
    background: @se-toolbar-menu-content--header--background-color;
}

.se-toolbar-menu-content--header__title {
    padding: 25px 30px;
    font-family: @se-toolbar-menu-content--header__title--font-family;
    color: @se-toolbar-menu-content--header__title--color;
    font-size: @se-toolbar-menu-content--header__title--font-size;
    font-weight: @se-toolbar-menu-content--header__title--font-weight;
}

.se-toolbar-menu-content--body {
    background-color: @smartedit-white;
    overflow-y: scroll;
    max-height: @se-toolbar-menu-content--body--max-height;
}

/****************************************************
				navigation
****************************************************/
@yWebsiteSelectBtn--globe--height: 25px;
@yWebsiteSelectBtn--globe--width: 35px;
@hyicon-localization--font-size: 25px;
@yWebsiteSelectBtn--globe--font-size: 19px;
@hyicon-globe--margin-bottom: 5px;

.ySmartEditToolbars {
    z-index: 1001;
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    width: 100%;
}

.ySmartEditHeaderToolbar {
    padding: 0 14px;
}

.ySmartEditHeaderToolbar,
.ySmartEditExperienceToolbar {
    background-color: @smartedit-white;
    height: @toolbar--height-small;
}

.ySmartEditPerspectiveToolbar {
    background-color: @smartedit-white;
    height: @toolbar--height-large;
}

.open div .dropdown-menu {
    display: block;
}

.ySmartEditExperienceToolbar {
    padding-left: 32px;
    .dropdown-menu {
        background-color: @smartedit-lightblue;
        min-width: 0;
    }

    .yToolbarBtn {
        .yDdResolution > li > a:hover {
            color: inherit;
            background-color: inherit;
        }

        .yHybridAction {
            box-shadow: none;
        }
        .btn-group {
            padding-top: 15px;
            box-shadow: none;
        }
        .btn-group.open {
            background-color: @smartedit-lightblue;
        }
    }

    .yTemplateToolbar__middle,
    .yTemplateToolbar__middle:active,
    .yTemplateToolbar__middle:hover:active,
    .yTemplateToolbar__middle:hover,
    .yTemplateToolbar__middle:visited {
        width: 100%;
        .yTemplateToolbar__action-template {
            width: 100%;
        }
    }

    .divider-vertical {
        height: 50px;
        margin: 0 9px;
        border-left: 1px solid @smartedit-grey28;
        border-right: 1px solid @smartedit-white;
    }

    .yTemplateToolbar {
        display: inline-block;
        height: 100%;
    }
}

.yToolbar {
    border-top: @smartedit-border11;
    &.ySmartEditPerspectiveToolbar {
        border-bottom: @smartedit-border11;
    }
}

.yToolbar__Left {
    .se-flex-vertical-align();
}

.yToolbar__Left,
.yToolbar__Right {
    .make-xs-column(3);
    height: 100%;
}

.yToolbar__Middle {
    .make-xs-column(6);
    height: 100%;
    text-align: center;
}

.yToolbar__Left {
    padding-left: 0;
    padding-right: 0;
}

.yToolbar__Right > div {
    .pull-right();
}

.yToolbar__Left,
.yToolbar__Right {
    .yTemplateToolbar__action-template {
        height: 100%;
        .se-flex-vertical-align();
    }
}

.yTemplateToolbar__action-template:hover,
.yTemplateToolbar__action-template:focus,
.yTemplateToolbar__action-template:active,
.yTemplateToolbar__action-template:hover:active,
.yTemplateToolbar__action-template {
    .toolbar-action {
        border-right: @smartedit-border11;
    }
    width: fit-content;
}

.yTemplateToolbar__context-template:hover,
.yTemplateToolbar__context-template:focus,
.yTemplateToolbar__context-template:active,
.yTemplateToolbar__context-template:hover:active,
.yTemplateToolbar__context-template {
    background-color: @smartedit-grey;
    color: @smartedit-blue;
    box-shadow: none;
    outline: none;
    outline-offset: 0;
}

.ySmartEditPerspectiveToolbar {
    background-color: @smartedit-white;

    .yTemplateToolbar {
        display: flex;
    }

    .yToolbar__Left {
        .make-xs-column(8, @gutter: 0);
        display: flex;
        height: 100%;
    }

    .yToolbar__Right {
        .make-xs-column(4, @gutter: 0);
        height: 100%;
    }

    .yToolbar__Middle {
        height: 100%;
        display: none;
    }
}

//inflection point
.yToolbar__Right {
    padding-left: 0;
    padding-right: 0;
}

/********************************************************
                    TOOLBAR
*********************************************************/

.toolbar-action {
    height: 100%;
    position: relative;
}

.toolbar-action--button--txt {
    display: block;
    font-family: @font-open-sans;
    font-size: 10px;
    font-weight: @font-weight--semibold;
    text-transform: uppercase;
    margin-top: 5px;
}

.toolbar-action.open .toolbar-action--button--txt {
    color: @smartedit-white;
}

.toolbar-action--button {
	padding: 5px;
	min-width: 104px;
	border-top: 1px transparent;
	border-bottom: 1px transparent;
	&.toolbar-action__disabled{
		background: @smartedit-white;
	}
}

.open .dropdown-toggle.toolbar-action--button {
    box-shadow: none;
}

.toolbar-action--button:hover,
.toolbar-action--button:focus,
.toolbar-action--button:active,
.toolbar-action--button:hover:active,
.toolbar-action--button {
    background-color: @smartedit-white;
    color: @smartedit-blue;
    box-shadow: none;
    outline: none;
    outline-offset: 0;
}

.toolbar-action--button:hover,
.toolbar-action--button:active,
.toolbar-action--button:hover:active {
    opacity: 0.6;
}

.toolbar-action--include {
    background-color: @smartedit-lightblue;
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
    min-width: 260px;
}

.toolbar-action.open .toolbar-action--button,
.toolbar-action.open .toolbar-action--button:hover,
.toolbar-action.open .toolbar-action--button:active,
.toolbar-action.open .toolbar-action--button:focus {
    background-color: @smartedit-lightblue;
    color: @smartedit-white;
    opacity: 1;
    border-right: 1px solid transparent;
    border-top: 1px transparent;
    border-bottom: 1px transparent;
}


.se-generic-editor-multiple-dropdown__match item-printer.se-generic-editor-dropdown__item-printer div {
    min-height: 45px;
    display: flex;
    align-items: center;
    padding-left: 15px;
}

.se-toolbar-actionable-item-context{
	background-color: @smartedit-white;
	border-right: @smartedit-border11;
	height: 100%;
	width: fit-content;
	max-width: @se-toolbar-actionable-item-context--max-width;
}

.se-toolbar-actionable-context__btn {
    height: 100%;
    background: @toolbar-context-border-image no-repeat;
	padding: @se-toolbar-actionable-context__btn--padding;
}

.se-toolbar-actionable-item-context--open {
    background-color: @smartedit-lightblue;
    color: @smartedit-white;
    .se-version-item-context__btn--hyicon-remove {
        color: @smartedit-white;
    }
}

.yTemplateToolbar__context-template{
	display: inline-block;
	left: -2px;
    position: relative;
}

.se-toolbar-page-info-wrapper,
.se-toolbar-sync-wrapper{
	display: flex;
	justify-content:center;
	align-items: baseline;
}

.se-toolbar-page-info-wrapper__homepage-icon {
	margin-bottom: -1px;
	line-height: @se-toolbar-page-info-wrapper__homepage-icon--font-size-line-height;

	.hyicon-home--current, .hyicon-home--old {
		padding-left: @se-toolbar-page-info-wrapper__homepage-icon--padding-left;
		font-size: @se-toolbar-page-info-wrapper__homepage-icon--font-size-line-height;
		top:-2px;
		position: relative;
	}
	.hyicon-home--old {
		color: @smartedit-lightblue;
		opacity: 0.5;
	}
}

.toolbar-action.open .hyicon-home--old {
    color: @smartedit-white;
    opacity: 0.5;
}
