.select2-display-none {
    display: none;
}

.select2-container .select2-choice,
.select2-container .select2-choices,
.select2-container .select2-choices {
    display: block;
    text-decoration: none;
    user-select: none;
    margin: 0;
    border: @smartedit-border8;
    .se-nowrap-ellipsis(); 

    .select2-chosen {                         
		margin-right: 26px;
		display: block;
		.se-nowrap-ellipsis(); 
	}

	.select2-arrow {                    	
		display: inline-block;
		position: absolute;
		right: 0;
	}
}

.select2-container-active .select2-choice, 
.select2-container-active .select2-choices {
    border: @smartedit-border6;
}

.select2-search {
    display: inline-block;
    width: 100%;
    min-height: 26px;
    margin: 5px 0;
    padding-left: 4px;
    padding-right: 4px;
    position: relative;
    z-index: 10000;
    white-space: nowrap;

    input {
        width: 100%;
        border: @smartedit-border8;
        height: auto !important;
        min-height: 26px;
        font-size: 1em;
        padding: 4px 20px 4px 5px;
        margin: 0;
        outline: 0;
    }
}

.select2-drop {
    width: 100%;
    margin-top: -1px;
    position: absolute;
    z-index: 9999;
    top: 100%;
    background: @smartedit-white;
    color: @smartedit-black;
    border: @smartedit-border7;
    border-top: 0;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
    -webkit-box-shadow: 0 4px 5px rgba(0, 0, 0, 0.15);
}

.select2-drop-active {
    border: @smartedit-border6;
    border-top: none;
}

.select2-results {
    max-height: 200px;
    position: relative;
    overflow-x: hidden;
    overflow-y: auto;
    outline: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);

    li {
        list-style: none;
        display: list-item;
        background-image: none;
    }
}

.select2-input  {
    border: none;
    outline: none;
}

.select2-input.ui-select-search::-ms-clear  {
    display: none;
    width: 0;
    height: 0;
}
