
/****************************************************
				y-notification-panel
****************************************************/
@y-notification-panel--gutter: 10px;
@y-notification-panel--min-width: 235px;
@y-notification--opacity: 0.85;
@y-notification--border-radius: 14px;
@y-notification--font-size: 16px;
@y-notification__hotkey--key--border-radius: 4px;
@y-notification__hotkey--text--font-size: 17px;
@y-notification__hotkey__icon--add--font-size: 20px;

.y-notification-panel {
	position: fixed;
	bottom: 2*@y-notification-panel--gutter;
	right: 4*@y-notification-panel--gutter;
	z-index: 100;
	min-width: @y-notification-panel--min-width;
	max-height: 100%;
}

.y-notification-panel.ng-hide {
	opacity: 0;
}

.y-notification-panel.ng-hide-add,
.y-notification-panel.ng-hide-remove {
	transition: all 0.5s linear;
}

.y-notification {
	height: 100%;
	opacity: @y-notification--opacity;
	background: @smartedit-bluegrey;
	color: @smartedit-white;
	border-radius: @y-notification--border-radius;
	margin: @y-notification-panel--gutter 0;
	padding: 2*@y-notification-panel--gutter;
	font-size: @y-notification--font-size;
	overflow: hidden;
}

.y-notification__hotkey {
	display: flex;
	align-items: stretch;
}

.y-notification__hotkey--key {
	border: 2px solid @smartedit-white;
	border-radius: @y-notification__hotkey--key--border-radius;
	padding: .5*@y-notification-panel--gutter 2*@y-notification-panel--gutter 1.5*@y-notification-panel--gutter .5*@y-notification-panel--gutter;
	overflow: hidden;
	margin-left: .5*@y-notification-panel--gutter;
	display: inline-flex;
}

.y-notification__hotkey__icon--add {
	font-size: @y-notification__hotkey__icon--add--font-size;
	vertical-align: middle;
}

.y-notification__hotkey--image {
	border: 1px solid @smartedit-white;
	border-radius: @y-notification__hotkey--key--border-radius;
	max-height: 5*@y-notification-panel--gutter;
}

.y-notification__hotkey--text {
	margin-left: 1.5*@y-notification-panel--gutter;
	font-size: @y-notification__hotkey--text--font-size;
}

.y-notification__hotkey--message {
	font-weight: bold;
	text-transform: uppercase;
}