.yToolbarActions__icon{
    color: @smartedit-blue15;
    text-decoration: none;
    cursor: pointer;
    font-size: 16px;
    padding: 8px 10px 6px 10px;
    display: block;
    margin: 4px 8px;
    border-radius: 4px;
    &:hover,
    &:active,
    &:hover:active{
        background-color: @smartedit-grey46;
    }
}
.dropdown.open .yToolbarActions__icon{    
    background-color: @smartedit-grey46;
}

.dropdown-menu .se-sign-out__link{
    padding:10px 20px;
}

.ySmartEditHeaderToolbar .dropdown-menu{
    width:auto;
    border:0;
    max-height: 260px;
    border-radius: 4px;
    box-shadow: 0 0 4px @smartedit-grey14;
}


.yToolbarActions__dropdown-element{
    min-width:150px;
}

.dropdown.open .yToolbarActions__dropdownArrow{
    content: "";
    width: 0; 
    height: 0; 
    border-left: 8px solid transparent;
    border-right: 8px solid transparent;
    position: absolute;
    border-bottom: 8px solid @smartedit-white;

    filter: drop-shadow(0 -0.4mm 0.2mm @smartedit-grey18);
    top: 32px;
    left: 18px;
    z-index: 1001;
}    

.language-selector-dropdown__dropdown-menu{
    width: fit-content;
    min-width: auto;
    left:auto;
    right: -100%;
    li:first-child{
        background-color: @smartedit-blue16;
    }
}

.user-account-dropdown__dropdown-menu{
    color: @smartedit-black2;
    right: 0;
    left: auto;
    width:fit-content;
    cursor: default;
    padding: 15px 0px 9px 0px;
    font-size: 14px;
    min-width: 150px;
    max-width: 280px;
    overflow-wrap: break-word;
    word-wrap: break-word;
    .divider{
        margin: 5px 0px;
    }
}
.user-account-dropdown__role,
.user-account-dropdown__name{
    padding: 0px 20px 5px 20px;
}
.user-account-dropdown__role{
    font-size: 11px;
    color: @smartedit-grey44;
}
.user-account-dropdown__name{
    color: @smartedit-black3;
}

a.se-sign-out__link{
    padding: 10px 20px;
    color: @smartedit-grey45;
    opacity: 1;
    font-size: 14px;
}

.general-configuration,
.general-configuration:hover{
    color: @smartedit-blue15;
    text-decoration: none;
}

.yLogo__image{
	height: 24px;
	vertical-align: bottom;
	padding: 0px 20px 0px 18px;
}

.yLogo__text{
	font-size: 16px;
	line-height: 1.13;
	font-family: @font-sap-72;
	font-weight: bold;
	color: @smartedit-black;
	padding-top: 4px;
}

.ySmartEditAppLogo{
    display: flex;
    align-items: center;
}

.ySitesLink{
    padding: 0px 20px 0px 0px;
    left:auto;
}

.ySitesLink__arrow{
	color: @smartedit-blue15;
	padding-right: 10px;
    vertical-align: middle;
    font-size: 14px;
}

.ySitesLink__text{
    font-size: 14px;
	color: @smartedit-black2;
	font-family: @font-open-sans;
	font-weight: @font-weight--semibold;
	vertical-align: bottom;
    line-height: 22px;
}