.yw-integration-object-button-panel{
    padding: 5px 15px 0 0;
}

.yw-integrationbackoffice-toolbar .yw-toolbar-after{
    float: right;
}

.yw-integrationbackoffice-toolbar .yw-toolbar-actions{
    padding-top: 5px;
}

.yw-integrationbackoffice-toolbar .z-hbox-separator {
    visibility: hidden;
}