.ya-de_hybris_platform_sap_sapproductconfigbackoffice_actions_cpqinitialload {
    &:hover {
        background: $white none repeat scroll 0 0;
        color: $blue__default;
        transition: background-color 0.3s ease 0s;
    }

    .z-hbox-separator {
        display: none;
    }

    .cng-action-text {
        padding-right: 5px;
        padding-top: 3px;
        padding-bottom: 0;
        line-height: 24px;
    }
}