tbody tr.even td.status-ERROR,
tbody tr.odd td.status-ERROR {
	background-color: red !important;
}

tbody tr.even td.status-WARN,
tbody tr.odd td.status-WARN {
	background-color: yellow !important; 
}

tbody tr.even td.status-OK,
tbody tr.odd td.status-OK {
	background-color: green !important;
}